[2021-11-17 10:11] teetone opened #3888 "Worker manager prompts login even when specifying --password-file"
Example command:

```cl-worker-manager  --server https://codalab.stanford.edu --search "request_gpus=0" --min-seconds-between-workers 180 --sleep-time 60  --worker-shared-memory-size-gb 8 --min-workers 0 --max-workers 10 --worker-work-dir-prefix /scr/scr-with-most-space/ --worker-pass-down-termination --worker-delete-work-dir-on-exit --worker-exit-on-exception --worker-exit-after-num-runs 1 slurm-

[2021-11-17 21:30] epicfaace opened #3889 ""format" CI task broken"
![image](https://user-images.githubusercontent.com/1689183/142285407-b1a69345-fc09-44b0-b158-b48b7ab228d9.png)

@jzwang43 can you look into this? It seems to have started with this commit (https://github.com/codalab/codalab-worksheets/commit/299466ab7fd95d71a9cc6d7a71270402396c2c15).

[2021-11-17 21:34] epicfaace commented on #3889
Related issue? https://github.com/mkdocs/mkdocs/issues/2469

[2021-11-17 23:52] teetone commented on #3888
Figure out why sessions are short. Use the cached token to authenticate.

[2021-11-22 04:58] percyliang opened #3891 "cl run --interactive hangs when not logged in"
On the `codalab.stanford.edu` instance, if you do `cl run ... --interactive` when you're not logged in, it appears to hang.  Only when you press enter does 'Username:' and 'Password:' show up.  (To reproduce, do `cl logout` first.)

[2021-11-22 05:19] percyliang opened #3892 "login process doesn't remember the worksheets page"
To reproduce:

1. Log out.
2. Go to a worksheet page.
3. Log in.

CodaLab should take us back to the same worksheets page, but it forgets and takes us back to the user's home page instead.

[2021-11-22 23:41] #3838 closed, assigned to jzwang43

[2021-12-01 07:08] #3892 closed, assigned to jzwang43

[2021-12-01 07:12] jzwang43 commented on #3889
@epicfaace I think the CI is working properly now so I will close this issue.

[2021-12-01 07:12] #3889 closed, assigned to jzwang43

[2021-12-01 07:16] jzwang43 commented on #3593
I am not sure if I am reproducing it correctly.
![image](https://user-images.githubusercontent.com/29891066/144188805-f3e578ee-d806-4854-a9d9-51ad24db2fe5.png)

In this case, the selected run is the one in blue, so edit and rerun will insert after it. Rather than the one we are editing.

[2021-12-01 13:22] pranavjain commented on #3872
@adiprerepa We would be needing this for 1.3.0

[2021-12-01 13:24] pranavjain commented on #3864
Still awaiting to reach a consensus on the new name.

[2021-12-01 14:48] epicfaace commented on #3889
Thanks

--
Ashwin Ramaswami

On Wed, Dec 1, 2021 at 2:12 AM Jizhen Wang ***@***.***> wrote:

[2021-12-01 16:47] percyliang commented on #3864
What about 'My Hub'?

On Wed, Dec 1, 2021 at 5:24 AM Pranav Jain ***@***.***> wrote:

[2021-12-01 16:50] pranavjain commented on #3864
I think 'Hub' might confuse the users. Let's keep it 'My Worksheets' to be very clear and simple. I know its repetitive with the inner tab wordings. We can also use something like 'My Home' or 'My Documents'.

[2021-12-01 16:54] percyliang commented on #3864
Let's not use 'Home' because there's a notion of a home worksheet.

We can say 'My Worksheets', and then change the tabs to be 'Owned by me'
and 'Shared with me'.

On Wed, Dec 1, 2021 at 8:50 AM Pranav Jain ***@***.***> wrote:

[2021-12-01 17:24] pranavjain commented on #3872
@adiprerepa Should we add data from https://github.com/codalab/codalab-worksheets/issues/3872 to the 1.3.0 release notes?

[2021-12-01 19:36] #3866 closed, assigned to pranavjain

[2021-12-02 00:03] epicfaace commented on #3801
Will pair program and do this

[2021-12-02 06:45] teetone opened #3898 "Configure default Kubernetes worker managers with multiple queues"
Have two different queues - one for smaller jobs and the other for larger jobs

[2021-12-02 15:21] #3756 closed, assigned to pranavjain

[2021-12-02 16:14] percyliang commented on #3898
Does it make sense to size them according to what is necessary to train a
GPT-2-{micro, small, medium, large, xl}?

On Wed, Dec 1, 2021 at 10:45 PM Tony Lee ***@***.***> wrote:

[2021-12-03 08:37] teetone opened #3900 "GKE VM Pool doesn't scale down to 0 even when there are not any running jobs"
I still see this problem even when setting `--autoscaling-profile optimize-utilization`. I'm looking into creating two separate pools.

[2021-12-06 04:58] #3801 closed, assigned to epicfaace, andyjin2000

[2021-12-07 11:33] #3872 closed, assigned to pranavjain, adiprerepa

[2021-12-07 12:12] Zoronium commented on #3686
hello @epicfaace is it still open ,
and if it is can you pls tell me which file should I look for it.

[2021-12-07 14:08] epicfaace commented on #3686
Oh, this is from an internal private repository that only the codalab team can access, so please pick another issue to help with. Sorry about that!

[2021-12-08 18:31] #3864 closed, assigned to pranavjain

[2021-12-08 18:47] pranavjain commented on #3837
@epicfaace @jzwang43 Can you share with me the complete flow/list of states? I can run a bundle to get it but just want to make sure that everything is in order.

[2021-12-08 18:50] pranavjain commented on #3837
How about using something like below to show one-liner info and flow of states? I still need to decide about its exact placement in our front end.
<img width="861" alt="Screen Shot 2021-12-08 at 10 48 54 AM" src="https://user-images.githubusercontent.com/10134824/145266452-675ab8b6-47ee-4213-bad3-fcea1df26760.png">

@percyliang @epicfaace

[2021-12-08 18:52] epicfaace commented on #3837
Are these bundle states?

[2021-12-08 18:52] epicfaace commented on #3837
If so, they're all here: https://github.com/codalab/codalab-worksheets/blob/178fa23ecfa5061830d06107e4bb5ba6cc9d69d6/codalab/worker/bundle_state.py#L5

[2021-12-08 18:57] pranavjain commented on #3837
Thanks! We seem to be having too many states. It might make sense to put this in our CodaLab documentation and link to that page.

[2021-12-08 19:14] #3900 closed, assigned to teetone

[2021-12-08 19:22] epicfaace opened #3904 "Support GCP for bundle storage"

[2021-12-08 23:38] epicfaace opened #3906 "ratarmount issue - update tests"
Use codalab CLI version 1.3.0 (before the fix).

Look into why the tests didn't catch this error when running a `cl` command:

[code]

Update tests to test for this error.

[2021-12-08 23:43] epicfaace opened #3907 "Give everyone "active" labels"

[2021-12-09 22:52] teetone opened #3908 "[USER ISSUE] Bundle "data_size" seems to be smaller than size on disk"
The `data_size` for this large dataset bundle is https://worksheets.codalab.org/bundles/0xdfcf71b4f6164cc1a7edb0cbb7444c8c is 162G.

When I run `du -sh poverty_unlabeled_v1.0` locally, the reported size is 184G.

[2021-12-12 15:26] epicfaace commented on #3827
Finished by https://github.com/codalab/codalab-worksheets/pull/3828

[2021-12-12 15:26] #3827 closed, assigned to jzwang43

[2021-12-12 23:03] #3800 closed, assigned to adiprerepa

[2021-12-13 00:47] #3858 closed, assigned to jzwang43

[2021-12-13 02:39] epicfaace opened #3910 "Bundle store frontend error"
![image](https://user-images.githubusercontent.com/1689183/145743983-f719cbf7-c50a-4f86-915e-342120b05305.png)

[2021-12-13 02:43] epicfaace commented on #3802
More context on why this is needed (cc @jzwang43 ):

At the moment, bundle locations aren't automatically created upon uploading a file.

As of now there are two pathways:
1 .Running normal cl upload or uploading a file -- this doesn't create a BundleLocation, it just updates the storage_type column in the bundle table (which is equal to disk or blob)
2. If you run cl upload --store, then it will

[2021-12-13 02:44] epicfaace opened #3911 ""cl store add" should infer --storage-type from --url"
"cl store add" should infer --storage-type from --url so that --storage-type is not required.

So, current command:

[code]

Ideal command that we want:

[code]

[2021-12-13 02:46] epicfaace opened #3912 "Show a friendlier error message when a bundle store is added with a preexisting name"
When a bundle store is added with a preexisting name (run `cl store add --name blob --storage-type azure_blob --url azfs://devstoreaccount1/bundles` twice to reproduce), the user is shown the following message:

[code]

It should be much friendlier, similar to how if you create a worksheet with a preexisting name.

[2021-12-14 06:55] teetone commented on #3898
New queues documented here: https://github.com/stanford-crfm/mistral-stanford/tree/codalab/codalab

[2021-12-14 14:05] epicfaace opened #3914 "Show bundle stores when running "cl info""
When running "cl info [uuid]", it should show the associated bundle locations / bundle stores for that bundle.

[2021-12-14 19:08] #3904 closed, assigned to epicfaace

[2021-12-14 20:37] #3859 closed, assigned to jzwang43

[2021-12-14 23:25] #3910 closed, assigned to nobody

[2021-12-14 23:45] pranavjain opened #3921 "Bundle info page is not opening"
The bundle info page is giving a `Not Found error.`

Need to triage and find more details.

It looks like it happens when you try to access the info page for a bundle you don't have access to.

[2021-12-14 23:45] pranavjain commented on #3921
Reverting the old 403 error change to unblock development for the team.

[2021-12-15 23:48] #3898 closed, assigned to teetone

[2021-12-15 23:54] #3803 closed, assigned to epicfaace

[2021-12-15 23:54] epicfaace opened #3922 "Implement "cl replicate" CLI command"
Design doc: https://docs.google.com/document/d/1TOsO4gnxUm1XMmlGUb7BJ4Z6y_olFbv9APbx0-IEy6M/edit#

cl replicate [bundle uuid] --store [store name]
Replicates the contents of the specified bundle to the specified bundle store.

[2021-12-15 23:55] epicfaace opened #3923 "Implement "cl rm -d --store" command"
Design doc: https://docs.google.com/document/d/1TOsO4gnxUm1XMmlGUb7BJ4Z6y_olFbv9APbx0-IEy6M/edit#

cl rm -d --store [store name]
Updates existing command “cl rm -d”; keeps the bundle, but removes the bundle contents from the specified bundle store.

[2021-12-15 23:55] epicfaace opened #3924 "Implement cl store work --name [store name] command"
Design doc: https://docs.google.com/document/d/1TOsO4gnxUm1XMmlGUb7BJ4Z6y_olFbv9APbx0-IEy6M/edit#

cl store work --name [store name]
All bundles will by default be uploaded to this bundle store.

[2021-12-15 23:59] jzwang43 opened #3925 "`/bundles/<bundle_uuid:re:%s>/locations/` should use `BundleLocationListSchema(many=True).dump`"
Investigate the issue with `BundleLocationListSchema(many=True).dump`.
We should use this function instead of `json.dumps`

[2021-12-16 00:00] mxmlnkn commented on #3906
Note that this bug didn't trigger my CI either because it can only be triggered for Python versions with a bugfix version < 6. Dumb error on my part. See also the [bugfix commit](https://github.com/mxmlnkn/ratarmount/commit/83fa858e7aeaf6f1dc9a3a45b8b907aee35b3a76).

[2021-12-16 00:02] epicfaace opened #3926 "Improve "cl store" documentation"
![image](https://user-images.githubusercontent.com/1689183/146283704-2635cc42-8140-435a-9883-d4835ee1c792.png)

[2021-12-16 00:07] epicfaace opened #3927 "Improve layout of cl store ls"
Use same logic as "cl ls"

![image](https://user-images.githubusercontent.com/1689183/146284151-0b8b052f-5826-4080-9217-d73c034947de.png)

[2021-12-16 00:10] epicfaace commented on #3914
![image](https://user-images.githubusercontent.com/1689183/146284389-94cd8542-d1c9-49dd-a72f-a060e4db154f.png)

Also don't show the "store" field

[2021-12-20 02:53] epicfaace commented on #3906
Hmmm, interesting, though this issue happened with python 3.7, so perhaps it's a different issue? (` cannot import name 'zipfile' from 'ratarmountcore.compressions' `)

[2021-12-20 07:23] mxmlnkn commented on #3906
"Bugfix version". I wanted to test for versions smaller 3.6 but the bug made it actually trigger e.g. for 3.7.0 to 3.7.6 but not for 3.7.7.

[2021-12-20 22:24] epicfaace commented on #3906
Ah, thanks.

[2022-01-07 06:07] pranavjain commented on #3907
Let us follow this starting from the Winter quarter. I will keep a check for the next couple of weeks and assign an `active` label if someone forgets to do so.

cc: @jzwang43 @epicfaace @adiprerepa @teetone @andyjin2000

[2022-01-07 06:11] pranavjain commented on #3830
We went through this during Percy's demo and have taken notes under the 12/08 weekly meeting section.

Do we still need to keep this one and #3873 open? @epicfaace @percyliang

[2022-01-07 06:36] pranavjain commented on #3420
Created a separate [branch](https://github.com/codalab/codalab-worksheets/tree/osx-m1) that contains the relevant changes to run the CodaLab on M1-based computers. I have only tested the frontend part of CodaLab yet.

Mysql docker image is not available for M1 yet. Replaced it with MariaDB as a temporary workaround.

Updated the disclaimer in the [Readme](https://github.com/codalab/codalab-workshe

[2022-01-07 20:23] percyliang commented on #3837
Create documentation with a flowchart and put a link to the flowchart from the website.

[2022-01-07 20:24] #3830 closed, assigned to pranavjain

[2022-01-11 16:07] pranavjain commented on #3731
This was given as a starter task. Unassinging myself from this as it is also a P3.

[2022-01-11 16:22] pranavjain opened #3933 "CLI: Show name of currently uploading file"

[2022-01-11 16:23] pranavjain opened #3934 "Show total file upload progress to the user"

[2022-01-11 16:25] pranavjain opened #3935 "CL Search is slow"
We don't have numbers (Or KPIs) as of now. Need to meet the user or run some test tests internally.

[2022-01-11 16:27] pranavjain opened #3936 "Downloading external dependencies takes time"
As per the user, downloading is faster on *Codalab Worksheets* as compared to *Stanford Codalab*

[2022-01-11 16:29] epicfaace commented on #3936
Which website is faster?

--
Ashwin Ramaswami

On Tue, Jan 11, 2022 at 11:27 AM Pranav Jain ***@***.***>
wrote:

[2022-01-11 16:31] pranavjain commented on #3936
@epicfaace Updated the issue to make it more clear.

[2022-01-11 16:36] pranavjain opened #3938 "Provide a docker template file which users can easily edit"
Newcomers and several users might not be familiar with Docker, which is a roadblock. The user suggestion is to provide a template file that can be easily edited.

[2022-01-14 03:40] epicfaace opened #3944 "Only let root add bundle stores for now"

[2022-01-14 04:12] epicfaace opened #3946 "Stanford: simplify cl-worker-manager startup command"
Right now, the cl-worker-manager command in the [CodaLab for NLP guide](https://docs.google.com/document/d/168v0WnvhUjYvUFfv5xmw4WbYwaFG-2VqBN9mzT3odAY/edit?disco=AAAAS141NIQ&usp_dm=false) is quite long and complicated:

[code]

We should make this command easier, use defaults, etc. so it's shorter and people only need to pass in the defaults you only need.

[2022-01-14 21:35] #3944 closed, assigned to epicfaace

[2022-01-15 16:29] teetone opened #3948 "Set oauth token expiration default to a month"
![extend oauth token expiration](https://user-images.githubusercontent.com/16793796/149629521-08beeed8-1f44-4f38-b2dd-3754130dda96.png)

[2022-01-18 20:48] epicfaace commented on #3906
It's not easy to reproduce this on CI because python with older bugfix versions is not easily available on GHA (see https://github.com/codalab/codalab-worksheets/pull/3951). So I'm going to just treat this as an isolated incident which we don't need to cover going forward.

I will add 3.10 to CI, though, which is a good thing anyway.

[2022-01-18 20:48] #3906 closed, assigned to epicfaace

[2022-01-18 20:59] epicfaace commented on #3773
Testing worksheet for this: https://worksheets.codalab.org/worksheets/0xe69f3e2c47594fc587642d43c1c09310

[2022-01-18 21:03] epicfaace opened #3953 "AccountCoreQuotaReached for azure batch dev pools"
Any idea what's happening @teetone ?

![image](https://user-images.githubusercontent.com/1689183/150018365-af163d38-6c52-41a2-91db-552d41232b5e.png)

[2022-01-18 21:08] epicfaace commented on #3773
Logs from worker:

[code]

[2022-01-18 21:21] epicfaace opened #3955 "Docker server images builds are broken"
See https://github.com/codalab/codalab-worksheets/pull/3954

![image](https://user-images.githubusercontent.com/1689183/150020703-74b8fd86-0ba8-44b3-ae82-c7ac5c5b849a.png)

How to replicate:
- Check out https://github.com/codalab/codalab-worksheets/pull/3954
- Start codalab (`codalab-service start -bd`)
- Docker images don't build

[2022-01-18 22:03] #3888 closed, assigned to teetone

[2022-01-18 22:04] epicfaace opened #3957 "Worker crashes if docker image doesn't have bash"
Steps:
- Create a run bundle with the `alpine` docker image
- The worker will go offline

Expected behavior:
- The bundle should fail, rather than crashing the worker.

![image](https://user-images.githubusercontent.com/1689183/150026077-3edcdcca-c3a3-4588-8731-4aad6829dbc9.png)

Relevant code: https://github.com/codalab/codalab-worksheets/blob/d83b8b81e735a6789feda92255654e35311c68ca/codalab/work

[2022-01-18 22:51] epicfaace commented on #3773
The problem is that urllib.request.urlopen forwards on its headers when following redirects, so it ends up sending a CodaLab Authorization header to blob storage (which isn't recognized by blob storage). :( This issue only occurs when connecting to the real blob storage, but not on azurite (as azurite just silently ignores invalid authorization headers).

The solution is to change it so it doesn't

[2022-01-19 00:44] teetone opened #3958 "Different behavior when uploading a folder in the UI vs CLI"
When uploading from the UI, the folder is nested one level down. See the example in this worksheet:

https://worksheets.codalab.org/worksheets/0x5b2c1fc5613d4b3cb314aa01356718ea

[2022-01-19 00:48] epicfaace opened #3959 "setup cs324"

[2022-01-19 00:48] #3959 closed, assigned to epicfaace, pranavjain, teetone

[2022-01-19 00:48] epicfaace opened #3960 "connect cs324.codalab.org to GCS"

[2022-01-19 00:53] epicfaace opened #3961 "cs324 - users who haven't been added to the protected mode server get ugly exceptions"
- User creates an account on cs324.codalab.org
- User gets ugly experience (can't create worksheets, etc.)

Ideal behavior:
- users should just be presented with a message that says "please contact the admins to get access to this server"

[2022-01-19 01:09] pranavjain commented on #3961
I just created a new account, and things were smooth for me until I tried creating a "New Worksheet."

No error is shown to the user, nor is the worksheet created.

@percyliang When are you getting the 'error message'? Was it via CLI?

[2022-01-19 02:01] #3773 closed, assigned to epicfaace

[2022-01-20 14:13] pranavjain commented on #3960
@epicfaace Do let me know when you start with this one. I will join you.

[2022-01-20 16:28] #3955 closed, assigned to jzwang43

[2022-01-21 23:15] epicfaace opened #3963 "Uploading a bundle with --store blob doesn't bypass the server / redirect to blob when getting bundle contents"
This is for blob storage downloads.

[2022-01-21 23:33] epicfaace opened #3964 "Need better error message if wrong store is specified in cl upload"
We should say "Store specified doesn't exist" instead of the current error.

![image](https://user-images.githubusercontent.com/1689183/150613327-9f77c65b-5716-4c58-886e-553c2c120dc4.png)

[2022-01-21 23:36] epicfaace opened #3965 "Deleting a bundle that's on gcp doesn't delete the original file"

[2022-01-22 00:38] teetone opened #3966 "Get AWS Batch + worker manager configured and working"
Document process.

[2022-01-24 07:49] jzwang43 commented on #3961
I am getting this after trying to register and click on the confirmation link sent to my email:

![image](https://user-images.githubusercontent.com/29891066/150742224-653878aa-9c91-4231-acfc-58a2de048c1e.png)

I was able to complete registration without any issue.

[2022-01-24 14:39] epicfaace commented on #3960
We finished this last week

[2022-01-24 14:39] #3960 closed, assigned to epicfaace, pranavjain

[2022-01-24 14:56] #3925 closed, assigned to jzwang43

[2022-01-24 17:14] jzwang43 commented on #3787
@epicfaace I was looking at the query generated by `search_bundles`. Looks like it's already pretty optimized. Do you know if there's any way to improve the performance if there are a lot of bundles like on Stanford cluster?

[code]

[2022-01-24 17:19] epicfaace commented on #3787
Some optimizations we could do:
- we could potentially get rid of the outer query? What do `param_1` and `metadata_key_1` and `metadata_value_1` mean?
- add indexes for `metadata_key` and `metadata_value` in the `bundle_metadata` table, and an index for `uuid` in `bundle`

[2022-01-25 06:41] #3966 closed, assigned to teetone

[2022-01-25 22:05] epicfaace opened #3968 "Allow specifying a default bundle store with an env variable"
Use `CODALAB_DEFAULT_BUNDLE_STORE_NAME=` as the env variable.

[2022-01-25 22:15] epicfaace commented on #3799
Closing as this task list is pretty outdated now.

[2022-01-25 22:15] #3799 closed, assigned to epicfaace, adiprerepa

[2022-01-25 22:35] epicfaace opened #3973 "Implement "cl store info" command"
The "cl store info [bundle_store_uuid]" command should list information about a specific bundle store, such as its url, etc.

[2022-01-25 22:43] epicfaace opened #3974 "Extend SAS token logic to bypass server for GCS downloads"
Right now we only support generating SAS tokens for Azure Blob downloads (and soon uploads). We should extend this logic to generate signed URLs that can be used in GCS as well.

[2022-01-25 22:55] epicfaace commented on #3263
I'm not seeing this issue anymore

[2022-01-25 22:55] #3263 closed, assigned to nobody

[2022-01-25 23:53] teetone commented on #3946
Verified. I also updated to use the correct `cl-worker-manager` and `cl-worker`. I will update the NLP guide.

[2022-01-25 23:53] #3946 closed, assigned to teetone

[2022-01-26 00:51] #3684 closed, assigned to epicfaace

[2022-01-26 01:06] epicfaace commented on #3787
maybe this will be faster

[code]

[2022-01-26 01:15] epicfaace opened #3975 "Launch jobs through a kubernetes runtime instead of a docker runtime (because GKE has deprecated the docker runtime)"
https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

https://kubernetes.io/blog/2022/01/07/kubernetes-is-moving-on-from-dockershim/

[2022-01-26 14:12] epicfaace commented on #3946
@teetone What's the new command you replaced it with in the NLP guide?

[2022-01-26 17:11] teetone commented on #3946
@epicfaace The command was out of sync with we have in the `deployment` repo. I replaced it.

[2022-01-26 19:12] epicfaace commented on #3946
Replaced it with what new command?

[2022-01-26 19:29] teetone commented on #3946
The script in the cluster was out of sync with https://github.com/codalab/deployment/blob/master/scripts/nlp-cl-worker-manager. I also updated the NLP guide. You can see the latest changes in the doc.

[2022-01-26 19:34] epicfaace commented on #3946
Great, thanks!

--
Ashwin Ramaswami

On Wed, Jan 26, 2022 at 2:29 PM Tony Lee ***@***.***> wrote:

[2022-01-26 19:46] epicfaace opened #3976 "Add a test for CODALAB_DEFAULT_BUNDLE_STORE_NAME"
Add a test in test_cli.py for https://github.com/codalab/codalab-worksheets/issues/3968

[2022-01-26 20:02] epicfaace opened #3977 "Bundle store name not showing up in bundle detail view"
The bundle detail view should show 1) the bundle store id and 2) the bundle store name. Right now, it just shows the ID.

![image](https://user-images.githubusercontent.com/1689183/151238090-c58e3d82-a9dd-440f-8dd8-e0c5e7f5689e.png)

[2022-01-26 20:32] #3968 closed, assigned to epicfaace

[2022-01-27 18:37] teetone opened #3979 "Jobs on the cluster will be cancelled if GPU utilization is 0% for 6 hours"
Caching will help with this, but downloading the dataset initially is still a problem. We might want to consider asking to increase the time limit (maybe 8 hours?).

It can roughly take 4-6 hours for a worker to download 110GB, depending on the state of the cluster.

[2022-01-27 21:08] epicfaace commented on #3979
I have an idea -- what if, while a dependency is being downloaded, the worker should just run a very minimal / basic calculation using the GPU in the background? This way GPU utilization will always be >0%.

[2022-01-29 22:43] #3977 closed, assigned to jzwang43

[2022-02-01 19:14] jzwang43 opened #3983 "Github Build (worker) job fails"
![image](https://user-images.githubusercontent.com/29891066/152035220-6d9914ff-1cc4-4dbe-9d5e-a469f4559180.png)

The error is  `ModuleNotFoundError: No module named 'dataclasses'`

[2022-02-04 04:55] #3907 closed, assigned to pranavjain

[2022-02-04 05:05] #3640 closed, assigned to percyliang

[2022-02-04 12:30] pranavjain commented on #3975
This is planned to be depreciated in Kubernetes 1.24 (ETA April 2022).

[2022-02-04 19:07] pranavjain commented on #3710
Currently testing and debugging with Ashwin.
Tentatively, putting up a PR by Feb 11.

[2022-02-04 19:09] pranavjain opened #3985 "Walkthrough NLP guide with a Stanford user."
Update the guide if required and capture user feedback.

[2022-02-04 19:12] pranavjain commented on #3948
Estimate: 1 Day of work.

[2022-02-04 19:13] pranavjain commented on #3891
@pranavjain Repro.

[2022-02-04 19:16] pranavjain commented on #3645
@epicfaace Do you have the stats/time captured for the above? Did we see any issues when you filed this task?

[2022-02-04 19:19] teetone commented on #3603
I added documentation for AWS: https://codalab-worksheets.readthedocs.io/en/latest/Worker-Managers/

I will need to add documentation for GKE and Azure.

[2022-02-04 19:21] pranavjain commented on #3603
Will be picked up next week.

[2022-02-04 19:27] pranavjain commented on #3914
Estimate Date: Feb 9

[2022-02-04 19:28] pranavjain commented on #3961
Estimated Completion Date: Feb 8

[2022-02-04 19:30] pranavjain commented on #3787
@jzwang43  Will start working on it next week (02/09)

[2022-02-04 19:30] pranavjain commented on #3593
@pranavjain Add repro steps.

[2022-02-04 19:36] pranavjain commented on #3985
Scheduled for 02/07.

[2022-02-05 15:24] epicfaace commented on #3710
Tony, are there any new issues since the code fix we added on Wednesday?

--
Ashwin Ramaswami

On Fri, Feb 4, 2022 at 2:07 PM Pranav Jain ***@***.***> wrote:

[2022-02-05 17:24] teetone commented on #3710
It looks promising. I'm still testing at the moment.

[2022-02-06 01:44] #3983 closed, assigned to jzwang43

[2022-02-07 16:52] epicfaace commented on #3645
This was a general goal we wanted to do starting in winter 2021. Percy would often do a demo and see it take a while for a bundle to start up.

[2022-02-07 20:48] pranavjain opened #3988 "Show current file/folder path in the navigation pane"
We don't show the path/directory in which the user is browsing, which is confusing for the user.

https://user-images.githubusercontent.com/10134824/152869119-3a3dc686-7a62-4503-93b7-2bfcf4192e4c.mov

`In the above example path is a1/a2/..`

[2022-02-07 21:06] pranavjain opened #3989 "New bundle is added at a random place"
### Implementation
- [x] Prevent a worksheet row from having a `null` sort key when rows are created using the cli
    * **Note:** cl commands should always add bundles to the end of the worksheet
- [x] Check for `null` sort keys when we initially fetch a worksheet and fix them on the spot if needed
- [x] Code documentation
- [x] Write tests if needed
- [x] QA
    - [x] Ensure that source editing

[2022-02-07 21:08] pranavjain commented on #3593
I have filed #3989 which might have the same root cause.

@jzwang43 Please look at that one.

[2022-02-07 23:01] #3914 closed, assigned to jzwang43

[2022-02-07 23:01] #3973 closed, assigned to jzwang43

[2022-02-07 23:31] #3130 closed, assigned to epicfaace

[2022-02-08 05:56] jzwang43 commented on #3593
close this since it's the same as #3989, working in #3989 instead.

[2022-02-08 05:56] #3593 closed, assigned to nobody

[2022-02-08 13:26] pranavjain commented on #3779
@epicfaace Is this same as #3963 ?

[2022-02-08 13:37] pranavjain commented on #3921
Removing this from priority right now. We started working on this as part of #3756

This is not needed as a priority for this quarter as it doesn't directly link with the CS324 course.

[2022-02-08 13:39] pranavjain commented on #3883
Not a priority right now. Clearing assignment.

[2022-02-08 13:39] pranavjain commented on #3836
Not a priority for this quarter. Removing assignment for now.

[2022-02-08 13:41] pranavjain commented on #3985
@teetone Did you meet with the user? What was the feedback?

[2022-02-08 13:42] pranavjain commented on #3961
@jzwang43 Can you please add a video/image of the new behavior? When is it expected for the user to see an error now? I will run some manual tests to verify.

[2022-02-08 14:57] epicfaace commented on #3779
No -- https://github.com/codalab/codalab-worksheets/issues/3963 is for a specific issue with blob storage downloads.

[2022-02-08 19:08] pranavjain commented on #3989
Estimate: 02/14

[2022-02-08 19:14] epicfaace commented on #3209
duplicate of https://github.com/codalab/codalab-worksheets/issues/3442

[2022-02-08 19:14] #3209 closed, assigned to epicfaace

[2022-02-08 19:31] pranavjain commented on #3874
Estimate: 02/14

[2022-02-09 21:27] pranavjain opened #3994 "Stdout and File Section not working/refreshing"
- User should be able to open the Stddout file and view its content in real time when the job is running.
Bug: The file keeps loading

- Files list take too long to show (refer to 0:45 in the video)
- Stddout output should be printed on the bundle infobox. (Randomly repros, Not visible in the video, visible in the attached screenshot)

https://user-images.githubusercontent.com/10134824/153292800-6

[2022-02-09 21:28] pranavjain commented on #3787
Removing this from p1.

This would require experimentation, moving to p2.

[2022-02-09 21:29] pranavjain commented on #3994
@jzwang43 Please target this one for this week along with the #3989 issue.

Do let me know if you need additional help to repro this bug.

[2022-02-10 00:29] pranavjain commented on #3985
No issues with NLP guide. User was able to follow it throughout and use CodaLab.

@teetone File an issue with the user feedback to discuss it further.

[2022-02-10 00:31] pranavjain commented on #3837
As discussed in the meeting, we would first add the flowchart in the student documentation to get feedback. Post course, this would be added to the official CodaLab documentation and linked to the website.

[2022-02-10 00:31] pranavjain commented on #3975
@epicfaace will pick this task after the necessary tasks for the course are done.

[2022-02-12 14:34] epicfaace opened #3998 "GCP - Bundle stops uploading at 14.3gb"
A large bundle (30 GB) stops uploading at 14.3gb transferred, when it's being uploaded to GCS.

Stack trace:

[code]

[2022-02-14 03:23] #3985 closed, assigned to teetone

[2022-02-14 03:28] teetone opened #3999 "Configure new worker manager for cs324.codalab.org depending on the student's workloads"
Things to consider:
- Do we need 4 GPUs vs. 1 GPU
- How long does a job take?
- GPU type? K80, P100, V100, or A100.

We need to request to increase the GPU quota for the hai-gcp-models.

[2022-02-14 22:16] pranavjain commented on #3998
@epicfaace Is this a blocker? We would need this fixed to use CodaLab for the course, right?

[2022-02-14 23:13] epicfaace commented on #3998
No -- we can use codalab for the course with the disk storage, which is what cs324.codalab.org is using at the moment. It would be ideal to fix this so we can use GCS storage, though.

[2022-02-15 15:23] clearlove7-s11 opened #4000 "How to submit the results of a match in codalab competition on the linux command line"
Hello, I took part in a competition "2022 IEEE GRSS Data Fusion Contest Track SLM" in codalab competition. I used to upload my compression package using the web end submission method under windows, but now I have switched to the linux environment and do not have a visual interface. How should I upload my results?
I am anxious to hear from you.

[2022-02-15 18:37] epicfaace commented on #4000
You could probably use `cl upload` to upload a bundle.

[2022-02-15 18:47] pranavjain opened #4001 "[CS324 Instance] Preparing state takes too long"
As per @epicfaace feedback, CodaLab is taking 20+ mins to prepare jobs before running them.

We need to implement caching.

[2022-02-15 18:56] epicfaace commented on #3874
Status: nearly done, need to add tests and the PR will be ready (https://github.com/codalab/codalab-worksheets/pull/3882)

[2022-02-15 19:10] epicfaace commented on #4001
Ask Michael for a sample bundle

[2022-02-15 19:43] pranavjain commented on #3994
@epicfaace @teetone Look into this issue

[2022-02-16 05:40] #3961 closed, assigned to jzwang43

[2022-02-16 17:20] epicfaace opened #4004 "When starting a bundle, its state keeps flickering between "starting" and "staged""
Steps to reproduce:
1. Create a bundle
2. Go to the bundle details page and keep refreshing
3. The state keeps flickering between "starting" and "staged" on different page loads.

[2022-02-16 20:20] epicfaace commented on #4004
related debugging:

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/1689183/154350396-2140b8ff-47ce-47b9-8480-6ac363e33f95.png">

[2022-02-17 04:30] pranavjain commented on #3989
@jzwang43 Is there any update on this one?

[2022-02-17 04:31] pranavjain commented on #4001
@epicfaace Were you able to repro this with the bundle Michael gave?

[2022-02-17 04:32] pranavjain commented on #4004
Does this only repro in case we do consistent refreshing of the page? If so, this might be corner care, and we can prioritize it later.

[2022-02-17 06:49] #3999 closed, assigned to epicfaace, teetone

[2022-02-17 08:39] jzwang43 commented on #3989
I have narrowed it down to after_sort_key and getAfterSortKey function. The after_sort_key determines where the new run should be inserted. Still working on figuring out why this after_sort_key is incorrect.

[2022-02-17 08:50] jzwang43 commented on #3989
looks like sometimes sort key is set to null for some rows:

![image](https://user-images.githubusercontent.com/29891066/154439414-3b36179e-d169-46b1-9429-e4208ccd26a1.png)

This is returned from the backend. could it be some issue with the backend? The api is rest/interpret/worksheet/

@epicfaace @pranavjain do you have any insights on this?

[2022-02-17 15:36] epicfaace commented on #4004
Yes, but the state is actually being constantly toggled from starting<->staged on the backend. I wonder if this is the reason why bundles are often stuck in "staged" (maybe they're stuck in some kind of loop)... Fixing it might make the bundle manager much faster.

[2022-02-17 18:04] pranavjain commented on #4004
Amazing! Do we know the root cause for this one yet?

[2022-02-17 21:06] epicfaace commented on #4001
bundle: https://cs324.codalab.org/bundles/0xaedeeac5452e4b9dab52ed9b02369d89
docker image: https://hub.docker.com/r/sangxie513/cs324-p2-codalab-gpu/tags

[2022-02-17 21:11] epicfaace opened #4008 "[CS324] resize main disk"
Resize main disk to be ~10 TB.

https://cloud.google.com/compute/docs/disks/resize-persistent-disk

[2022-02-17 21:11] epicfaace commented on #4008
@pranavjain this is also needed to be done before we open

[2022-02-17 21:12] epicfaace commented on #4001
testing: https://cs324.codalab.org/worksheets/0xaf887e97451c419a8a745a5ef5cddc3f

[2022-02-17 21:16] epicfaace commented on #4001
The problem is that the bundle was requested with a tag `cs324`, and we shouldn't tag bundles when running them on the cs324 instance (since all our workers don't have tags specified).

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/1689183/154572079-9b9e2220-ca0a-44e6-8c58-73f0ec268fbf.png">

Request bundles without tags, and it should work.

[2022-02-17 21:34] pranavjain commented on #4001
How does adding a tag increase the time to prepare so long?

[2022-02-17 21:37] pranavjain commented on #4008
@epicfaace Marking this one as active as we need it asap for the course.

[2022-02-17 22:00] epicfaace commented on #4001
The tag was a different issue -- it was just stuck in staged for a long time.

I removed the tag and am able to reproduce. I'm looking into it

[2022-02-18 15:13] epicfaace commented on #3989
@jzwang43 Can you please send me the worksheet link?

[2022-02-18 21:34] jzwang43 commented on #3989
@epicfaace try 0x411c4f80346b4732a1aacb8402ec4d04 on codalab.worksheets.org. It's also pretty easy to reproduce locally.

[2022-02-18 22:00] epicfaace commented on #3975
Two options:
1. Mount containerd socket (`/run/containerd/containerd.sock`) instead of docker socket (`/var/run/docker.sock`). (https://github.com/containerd/containerd/blob/main/docs/getting-started.md, https://github.com/codalab/codalab-worksheets/blob/master/codalab/worker_manager/kubernetes_worker_manager.py#L133)
2. Rather than running a Docker container, a worker can just interface with the

[2022-02-21 08:42] pranavjain commented on #4008
@epicfaace Is this one done?

[2022-02-21 16:02] epicfaace opened #4013 "deployment docs broken"
https://codalab.org/deployment/ doesn't work anymore.

[2022-02-21 16:33] epicfaace commented on #4008
Done!

![image](https://user-images.githubusercontent.com/1689183/154995169-d6fc3afe-46ab-4d2a-9ea3-05dd7fc08f02.png)

[2022-02-21 16:33] #4008 closed, assigned to epicfaace

[2022-02-21 17:11] epicfaace opened #4015 "Worker error: `container` is None when transitioning from RUNNING state"
Worker logs:

[code]

[2022-02-21 17:26] epicfaace commented on #2111
This is happening locally for me now:

[code]

[2022-02-21 18:59] epicfaace opened #4017 "Bundle that is in FINALIZING and is taken to worker_offline gets stuck in infinite loop"
A bundle that is in FINALIZING and should be taken to the WORKER_OFFLINE stage (see the logs -- "Bringing bundle offline [bundle uuid]") instead gets stuck in an infinite loop -- it never actually goes to WORKER_OFFLINE stage.

[code]

[2022-02-21 19:17] #4017 closed, assigned to nobody

[2022-02-21 19:32] epicfaace opened #4018 "Check in BundleManager.transition_bundle_worker_offline doesn't operate properly"
The check in BundleManager.transition_bundle_worker_offline doesn't operate properly ("Check that it still exists and is running") (https://github.com/codalab/codalab-worksheets/blob/1eb2357b8490242c8de0b37eeeb8ef08663f457e/codalab/model/bundle_model.py#L996-L1001). The `and` operator doesn't do anything in sqlalchemy queries, so the statement afterward checking the bundle state is effectively ign

[2022-02-21 19:52] epicfaace commented on #3723
User logs:

[code]

Bundle manager logs:

[code]

Worker logs:

[code]

[2022-02-21 19:57] epicfaace commented on #3723
User logs:

[code]

Bundle manager logs:

[code]

Worker logs:

[code]

[2022-02-21 20:03] epicfaace opened #4023 "Workers often check in far less frequently than the configured checkin time"
Workers often check in far less frequently than the configured checkin time. This is because the worker runs its main loop and _then_ waits for the checkin delay time before actually checking in with the server.

For example, if the worker checkin time is configured to be 5 seconds, and it takes 3 seconds to go through the main loop, then the worker waits _another_ 5 seconds, giving us 8 seconds t

[2022-02-22 07:38] #3976 closed, assigned to epicfaace

[2022-02-22 08:07] #4015 closed, assigned to nobody

[2022-02-22 14:35] epicfaace commented on #4018
Fixed by https://github.com/codalab/codalab-worksheets/pull/4019

[2022-02-22 14:35] #4018 closed, assigned to nobody

[2022-02-22 14:37] #3927 closed, assigned to jzwang43

[2022-02-22 18:22] #3645 closed, assigned to nobody

[2022-02-22 18:22] #4023 closed, assigned to nobody

[2022-02-22 19:32] epicfaace opened #4027 "very long command should wrap"
Right now, we have a huge scrollbar within a scrollbar

![image](https://user-images.githubusercontent.com/1689183/155205332-51da1b30-3344-476a-9b15-0576c707e2f4.png)

[2022-02-22 19:34] epicfaace commented on #3577
@teetone Can you work on this solution?

[2022-02-22 19:35] epicfaace commented on #3989
I'm not sure why this is happening -- would take more time to debug

[2022-02-22 19:40] epicfaace commented on #3989
I'm not prioritizing working on this atm, but let me know if I should

[2022-02-22 19:52] jzwang43 commented on #3994
I think the API that hangs is:

rest/bundles/xxxxx/contents/info/

[2022-02-22 19:55] epicfaace commented on #3994
The problem is that the frontend keeps requesting this over and over again, even when previous requests are still in progress (so this overloads the server / worker) -- we need to limit it so it only calls the endpoint once the previous calls have succeeded. @jzwang43 can you fix this?

<img width="1159" alt="image" src="https://user-images.githubusercontent.com/1689183/155208765-a86cb5e2-420f-45c

[2022-02-22 19:56] epicfaace opened #4028 "cs324 - default quotas"
Set the following variables:

user_disk_quota - 400g
user_time_quota - 72h
user_parallel_run_quota - 10

[2022-02-22 20:26] #4028 closed, assigned to epicfaace

[2022-02-22 20:39] epicfaace commented on #2958
Duplicate of https://github.com/codalab/codalab-worksheets/issues/3577.

[2022-02-22 20:39] #2958 closed, assigned to nobody

[2022-02-22 22:49] epicfaace opened #4030 ""Failed to update run bundles" error after running a command from the Web CLI"
<img width="1170" alt="image" src="https://user-images.githubusercontent.com/1689183/155232689-fee18eb2-3f83-43b1-aabc-2f9eb1b2272a.png">

Error:
-
<img width="605" alt="image" src="https://user-images.githubusercontent.com/1689183/155232703-1ddce35e-d7fe-45d8-b0a9-3d3ce785dd9e.png">

<img width="679" alt="image" src="https://user-images.githubusercontent.com/1689183/155232721-e1ebcd84-f293-40d3-a

[2022-02-23 01:14] pranavjain commented on #4013
@epicfaace What's wrong with it?

[2022-02-23 02:49] epicfaace commented on #4013
Password doesn't work.

[2022-02-23 14:47] #4013 closed, assigned to epicfaace

[2022-02-25 17:51] jzwang43 opened #4031 "Prettier not formatting .jsx files"
Some of the react files are in .jsx extensions and should be included in the formatting command.

[2022-02-26 03:30] #4031 closed, assigned to jzwang43

[2022-02-26 14:38] #4027 closed, assigned to jzwang43

[2022-02-28 16:39] epicfaace commented on #3989
@jzwang43 is this something maybe you'd be able to debug? I'm not very familiar with the sort key logic, if you have bandwidth could you take some time and step through the code to figure out what's happening?

[2022-02-28 19:45] epicfaace commented on #4004
I can no longer replicate. I think it was fixed by https://github.com/codalab/codalab-worksheets/pull/4024

[2022-02-28 19:45] #4004 closed, assigned to epicfaace

[2022-02-28 19:54] epicfaace commented on #4001
I think the issue is just that it has to download ~40GB (30GB dependency + 10 GB docker image) which just takes some time to do.

We might be able to make this faster with Tony's PR that solves https://github.com/codalab/codalab-worksheets/issues/3710 -- https://github.com/codalab/codalab-worksheets/pull/3861

[2022-03-01 19:40] pranavjain commented on #3874
ETA: 03/08

[2022-03-01 19:40] pranavjain commented on #3974
ETA: 03/15

[2022-03-01 19:42] pranavjain commented on #3710
@teetone Please update the ETA

[2022-03-01 19:43] pranavjain commented on #3603
ETA: 03/03

[2022-03-01 19:52] epicfaace opened #4036 "NFS folder can't be mounted by worker"
Because docker container doesn't have the right capabilities. See https://stackoverflow.com/questions/39922161/mounting-nfs-shares-inside-docker-container

[2022-03-02 07:38] teetone opened #4037 "Screen goes blank when looking at a JSON bundle"
To reproduce, visit this page:

https://codalab.stanford.edu/bundles/0x6e3abaeb28e34640a12a9a66d27d8ddf

[2022-03-02 22:01] jzwang43 opened #4038 "Change default branch from master to main"
Let's use neutral term "main" instead of "master" for the default branch.

[2022-03-02 22:06] jzwang43 commented on #4037
@teetone
I uploaded a json and didn't get the blank page. But when I opened your bundle I'm getting the blank page.
Is there anything special about your bundle you can share to help me identify the issue?

My test bundle: https://worksheets.codalab.org/bundles/0x127c1ca815104f7d927ebb17781a01c3

[2022-03-02 22:21] #3994 closed, assigned to jzwang43

[2022-03-02 22:38] epicfaace commented on #4036
Docker documentation for `--mount`: https://docs.docker.com/storage/volumes/#create-a-service-which-creates-an-nfs-volume

We can use the `mount` argument in the docker python SDK (see https://docker-py.readthedocs.io/en/stable/containers.html) and we'd need to modify this piece of code: https://github.com/codalab/codalab-worksheets/blob/master/codalab/worker/docker_utils.py#L197-L214

[2022-03-02 22:39] epicfaace commented on #4036
Worker should have a new flag that indicates when the work directory is on NFS. In that case, we would use `--mount` and the special NFS-specific parameters to mount it rather than `--volume`.

[2022-03-02 23:12] epicfaace commented on #4038
Feel free to put up a PR that updates github actions and then we can change
the default branch afterwards.

Ashwin Ramaswami

On Wed, Mar 2, 2022, 5:01 PM Jizhen Wang ***@***.***> wrote:

[2022-03-03 15:12] JiexingQi opened #4039 "cl work error: ConnectionResetError: [Errno 104] Connection reset by peer"
**Describe the bug**
I follow the Tutorial: Quickstart in https://codalab-worksheets.readthedocs.io/en/latest/examples/quickstart/, and create a conda env named codalab and python version==3.8.8; Then I use

[code]
and run
[code]
when typed my username and password, it got an error :
[code]

**Codalab Information**
- *Your username*:jxqi
- *UUID of worksheet where problem occurred*:no id
- *UUID o

[2022-03-04 02:50] JiexingQi commented on #4039
Update： I can connect successfully in my MacBook Pro，but it can‘t connect successfully in server。

[2022-03-06 17:38] teetone commented on #4039
Hi @JiexingQi, does this happen to you every time, or is it intermittently?

[2022-03-06 18:06] teetone opened #4042 "GKE auto scale + nvidia driver installation takes some time when spinning up new VMs"
Time:

Worker manager GPU pool (9 minutes to start a worker)
2022-02-23 00:40:33,898 Starting a worker!
At 45 the VM came up (4.5 minutes)
At 49 the nvidia drivers are installed (4.5 minutes)

GKE node images:

https://cloud.google.com/kubernetes-engine/docs/concepts/node-images
https://stackoverflow.com/questions/60151864/does-google-kubernetes-engine-support-custom-node-images-and-or-10gbps-netw

[2022-03-07 02:14] JiexingQi commented on #4039
Hi @teetone , it happens in my server every time, but it can connect successfully in my MacbookPro. Could you give me some suggestions about it? Thanks a lot.

[2022-03-07 10:58] pranavjain commented on #4037
@teetone Can you provide more details about this one?

[2022-03-07 10:59] pranavjain commented on #3837
@jzwang43 assigning this to you as per our discussion.

[2022-03-07 11:00] pranavjain commented on #3710
@teetone is there any update on this one? Can you please update the ETA?

[2022-03-07 11:06] pranavjain commented on #3874
@epicfaace Are we on track to close this one? Do you need inputs from someone?

[2022-03-07 11:08] pranavjain commented on #3975
@epicfaace Are you working on this one actively? Do we have some rough ETA?

[2022-03-07 16:44] epicfaace commented on #3874
I need to test that PR manually and it should be good to go afterwards.

--
Ashwin Ramaswami

On Mon, Mar 7, 2022 at 6:07 AM Pranav Jain ***@***.***> wrote:

[2022-03-07 16:44] epicfaace commented on #3975
The plan is for me to have something written up by Tuesday as to a possible
approach to solve the problem. Will work on this soon.

--
Ashwin Ramaswami

On Mon, Mar 7, 2022 at 6:08 AM Pranav Jain ***@***.***> wrote:

[2022-03-07 20:03] pranavjain commented on #4036
Talked with @teetone about it. Please update the ETA.

[2022-03-09 03:07] JiexingQi commented on #2736
I met the same problem? Can you give me some suggestions? Thank you!

[2022-03-09 03:37] epicfaace commented on #2736
@JiexingQi What command are you running when you see this error?

[2022-03-09 06:41] JiexingQi commented on #2736
Thank you for your reply, @epicfaace , I just want to run a docker on codalab, the command are
[code]
and what I run on my server is
[code]
and it just get error
[code]
but I just follow the CodaLab Worksheets Documentation in https://codalab-worksheets.readthedocs.io/en/latest/Execution/#running-your-own-worker
and I run
[code]
It can get the date result successfully.

Thank you again.

[2022-03-09 15:14] epicfaace commented on #2736
Is the Docker daemon running on your computer?

--
Ashwin Ramaswami

On Wed, Mar 9, 2022 at 1:42 AM JiexingQi ***@***.***> wrote:

[2022-03-09 15:17] JiexingQi commented on #2736
@epicfaace Yes，the docker is daemon is running：
[code]

[2022-03-09 21:34] #4037 closed, assigned to jzwang43

[2022-03-09 21:36] epicfaace commented on #3603
@teetone per our conversation, let's do the following:
- Move all AWS batch worker manager setup to main codalab docs
- In deployment docs, keep the section about checking Azure batch worker manager, and then link to the main codalab docs.

[2022-03-10 04:32] #3603 closed, assigned to teetone

[2022-03-10 16:07] teetone opened #4049 "[USER ISSUE] Downloading a bundle from the UI fails (cl download works)"
I tried to download a bundle from the browser but it keeps failing with a network connection issue: https://worksheets.codalab.org/bundles/0xf8f802d486fc44aabadb57e7f5fabc92. Running `cl download 0xf8f802d486fc44aabadb57e7f5fabc92` in a terminal works though.

[2022-03-10 16:14] epicfaace commented on #4049
How did you download it? Did you click on the URL in your browser? What error do you get?

[2022-03-10 17:32] teetone commented on #4049
I clicked on the download button. I got a `Network Error`.

[2022-03-10 21:48] jzwang43 commented on #3837
@pranavjain are we just adding this to the student documentation for now?

[2022-03-16 16:12] pranavjain commented on #3837
We added some text for the states to the student documentation. The proposed flowchart and suggestions are on our slack group.

[2022-03-21 11:38] JiexingQi commented on #2736
Can anyone help me? I still faced this error and can not use docker in codalab?

[2022-03-21 13:11] epicfaace commented on #2736
@JiexingQi Why are you trying to run docker from within codalab? I don't think that's suupported.

[2022-03-21 14:17] JiexingQi commented on #2736
@epicfaace ,thanks a lot for your reply, what I actually want to do is that run my code in my docker env for this competation in https://worksheets.codalab.org/worksheets/0x82150f426cb94c17b861ef4162817399/. And my model need a very large memory for GPU and I want to run it in my own server. So I just try to learn how to run my code in docker env and make it run in my own server. By the way, could

[2022-03-21 14:24] epicfaace commented on #2736
In that case, you can still run your own worker, but you shouldn't run docker commands directly. Rather, you can just run your script that runs the model, for example:

[code]

You should also reach out to the competition organizers if you have more specific questions!

[2022-03-21 14:34] epicfaace opened #4051 ""network is ambiguous" when running two local workers at the same time"
When running two local workers at the same time, I sporadically get a "network is ambiguous" error. (so to replicate: run `codalab-service start -bds default worker-preemptible worker-preemptible2`

<img width="791" alt="image" src="https://user-images.githubusercontent.com/1689183/159283316-dfe8b2c9-fa71-48a0-9220-91620f26ab1b.png">

This is because `create_or_get_network` is called by both worke

[2022-03-21 14:39] JiexingQi commented on #2736
@epicfaace Thank you, I just run
[code]
in my own server,
however, in the web page, this bundle still run in a remote server rather than my own server, can I specify this run executed in my own server? Thank you.

[2022-03-21 14:41] epicfaace commented on #2736
@JiexingQi you need to use tags, please see https://codalab-worksheets.readthedocs.io/en/latest/Execution/#running-your-own-worker and the "Controlling where runs happen with tags." section.

[2022-03-21 14:42] JiexingQi commented on #2736
Well, @epicfaace ,Thank you.

[2022-03-21 14:49] #2736 closed, assigned to nobody

[2022-03-26 14:37] JiexingQi opened #4053 "codalab cp command Permission denied"
**Describe the bug**
I use cp command on shell file, but codalab error shows ：Permission denied

**Codalab Information**
- *Your username*: jxqi
- *UUID of worksheet where problem occurred*:
- *UUID of problem bundle (please don't delete)*:0x034fda3f20a444b99a5da6474c4c565e
- *Error message received from Codalab (if applicable)*:
run_prediction.sh: line 4: sudo: command not found
cp: cannot create

[2022-03-27 01:56] JiexingQi opened #4054 "Why can not I use mkdir and cp command in codalab shell and Permission denied"
**Describe the bug**
I run a simple script like this:
[code]
and the content for run_on_codalab.sh is
[code]
but it show that Permission denied
the output is as follows:
[code]

[code]

**Codalab Information**
- *Your username*:jxqi
- *UUID of worksheet where problem occurred*:https://worksheets.codalab.org/worksheets/0x522f03a4d5a84341ae235395ef87e056
- *UUID of problem bundle (please don't delet

[2022-03-27 02:03] JiexingQi commented on #1382
I have face the same problem, could you give me some suggestions about it?Thank you.

[2022-03-27 02:11] epicfaace commented on #4053
I think this is a duplicate of https://github.com/codalab/codalab-worksheets/issues/4054, is that right?

[2022-03-27 02:14] JiexingQi commented on #4053
@epicfaace Hi, Thank you for your reply, It's the same problem to some extent, but the difference is that one is using the official codalab Docker image and this https://github.com/codalab/codalab-worksheets/issues/4054 is using someone else's custom image.

[2022-03-28 13:39] epicfaace commented on #4053
OK, closing this as a duplicate of https://github.com/codalab/codalab-worksheets/issues/4054 then.

[2022-03-28 13:39] #4053 closed, assigned to nobody

[2022-03-28 13:39] epicfaace commented on #4054
I don't think you can create directories at "/app". You should try to create files within your working directory ("mkdir app"), does that work?

[2022-03-29 11:40] JiexingQi commented on #4054
Thank you, @epicfaace , I find the problem occoured in my own mechine and when I use a codalab remote mechine, this porblem disappeared, I think it may be the docekr version in my mechine is 20.03>19.03. After all, it run normally now. Thanks again.

[2022-03-29 11:40] #4054 closed, assigned to nobody

[2022-03-29 11:54] JiexingQi opened #4055 "More disk space needed"
Hi, I'm running T5-3B model in codalab, and a checkpoint for this is 10.6G, more than 10G that a the upper limit of user storage. I find my run bundle was killed after I download a checkpoint in huggingface website. Can you give me more disk space for runing my model. Thank you.

**Codalab Information**
- *Your username*: jxqi
- *UUID of worksheet where problem occurred*: https://worksheets.codala

[2022-03-29 13:39] JiexingQi commented on #4054
By the way, can you help me for issue https://github.com/codalab/codalab-worksheets/issues/4055, thanks a lot.

[2022-03-29 20:27] epicfaace commented on #4055
@JiexingQi Done!

[2022-03-29 20:27] #4055 closed, assigned to nobody

[2022-03-30 04:57] JiexingQi commented on #4055
Thanks a lot @epicfaace

[2022-03-30 08:19] JiexingQi opened #4056 "Does a larger memory GPU can be provided？"
Hi，I'm running T5-3B model to inference, and the submit bundle can not run in K80 GPU because of out-of-memory(OOM). However, I run my model in A100(40G) normally. Does Codalab provide gpus with larger memory(such as A100)?

**Codalab Information**
- *Your username*:jxqi
- *UUID of worksheet where problem occurred*:https://worksheets.codalab.org/bundles/0x1b9420b6fda8437f9e5aa7ad4806654d

[2022-03-30 13:48] epicfaace commented on #4056
@teetone do you know?

[2022-03-30 16:16] teetone commented on #4056
Hi @JiexingQi, we currently don't provide A100s, but you can also attach your own worker by following the instructions here: https://codalab-worksheets.readthedocs.io/en/latest/Execution/#running-your-own-worker.

[2022-03-30 16:18] JiexingQi commented on #4056
Well，thank you @teetone

[2022-03-30 16:22] #4056 closed, assigned to nobody

[2022-04-01 19:58] pranavjain opened #4057 "Provide user information about the different fields in the Bundle View"
- We should link these fields to the relevant section in the doc.
- Why do we allow users to change these fields once the bundle is in finished state? cc: @epicfaace @percyliang

![image](https://user-images.githubusercontent.com/10134824/161332935-93878607-1acd-44dc-8092-1eb419e6018e.png)

[2022-04-01 20:10] pranavjain opened #4058 "Add spinner for STDOUT file output section"
Frontend takes time to fetch stdout content and display on the bundle details page. Add a spinner to inform user about this action.

[2022-04-01 22:52] epicfaace commented on #3911
@wwwjn link to store documentation: https://codalab-worksheets.readthedocs.io/en/latest/Multiple-Bundle-Stores/

https://github.com/codalab/codalab-worksheets/pull/3928

[2022-04-03 23:25] wwwjn opened #4059 "/bin/bash Error when run NLI example worksheet on worksheets.codalab.org"
**Describe the bug**
When I was following the worksheet-examples/01-nli on worksheets.codalab.org, I get following error.
[code]
When bash wants to execute the command "python src/train_nli.py ...", it causes some. Maybe we need to check both worksheet-example github repo and this repo. I also find other user have similar issue when following our tutorial. Some recently created worksheets also suf

[2022-04-04 15:39] teetone opened #4060 "Ensure compatibility of certificates used by webhook backends and aggregated API server backends before upgrading your clusters to Kubernetes Engine version 1.23"
1. Follow the guide to [identifying affected users] to check if you have affected clusters with webhooks or aggregated API servers using backend services with incompatible certificates.
2. Update the affected backend services to use certificates with appropriate SANs prior to upgrading the clusters to version 1.23.

You can temporarily prevent auto-upgrade of affected clusters to version 1.23 by c

[2022-04-04 21:42] pranavjain commented on #3710
Merged this one. Will be testing on CS324 once @epicfaace deploys it on that instance.

[2022-04-04 21:43] pranavjain commented on #4060
@teetone triaging the issue.

[2022-04-04 21:53] pranavjain commented on #3804
Done and merged as part of another PR. Closing.

[2022-04-04 21:53] #3804 closed, assigned to nobody

[2022-04-04 22:03] #3710 closed, assigned to teetone

[2022-04-04 22:23] epicfaace commented on #3975
Details: https://docs.google.com/document/d/1QsnUYAb0DzbH6uKA1L5oTbmxQYikGQ7F_FI4n3Tgp_g/edit

[2022-04-04 22:35] #3963 closed, assigned to epicfaace

[2022-04-05 20:32] epicfaace commented on #3974
@wwwjn let's first start by bypassing server for GCS downloads and do that in one PR. We can then bypass the server for GCS uploads in another PR.

[2022-04-05 23:45] teetone commented on #4060
More information: https://cloud.google.com/kubernetes-engine/docs/deprecations/webhookcompatibility

[2022-04-10 22:46] #3911 closed, assigned to wwwjn

[2022-04-10 23:45] wwwjn opened #4062 "`cl upload` needs user-friendly message when specify wrong storage name"
**Describe the bug**
Need to change the error message to user friendly message when user specify a wrong storage name in "cl upload --store xxx file.txt". For example, as the screenshot shows, there is no storage named  "gcs2"  but I use "cl upload --store gcs file.txt".  The error message  says internal error. Can we change to some user-friendly error message, eg "Might specify wrong store name"?

[2022-04-11 00:02] epicfaace commented on #3964
Closing in favor of https://github.com/codalab/codalab-worksheets/issues/4062

[2022-04-11 00:02] #3964 closed, assigned to nobody

[2022-04-11 03:50] pranavjain commented on #4062
@wwwjn Do we need to do step 1 (Add some store) to repro this error?

[2022-04-11 03:56] wwwjn commented on #4062
Oh, we do not actually need to add a new store. I will modify the description.

[2022-04-11 18:00] teetone commented on #4060
It's not really an issue, as long as we create a fresh cluster with the new version.

[2022-04-12 17:32] teetone opened #4064 "Nvidia DaemonSet seems to be broken on GKE cluster v1.23"
The DaemonSet seems to fail when I start a GKE cluster on GCP and specify version 1.23.

https://github.com/codalab/codalab-worksheets/tree/master/docs/gcp

[2022-04-12 17:33] #4060 closed, assigned to teetone

[2022-04-12 18:05] pranavjain commented on #3911
@wwwjn To update documentation.

[2022-04-14 16:17] #3874 closed, assigned to epicfaace

[2022-04-14 22:22] pranavjain commented on #4036
@teetone Can you please put an ETA to this task?

[2022-04-15 19:23] pranavjain commented on #4049
I was able to start the download. Did you get the error after a part of the download had been completed?

[2022-04-15 19:24] pranavjain commented on #4051
Do you think we have lots of users who would run two workers at the same time? How important is this?

[2022-04-15 20:27] epicfaace commented on #4051
Not very important, only used in development / CI builds.

[2022-04-16 04:49] pranavjain opened #4066 "nlp-cl-worker-manager prompts for password"
nlp-cl-worker-manager prompts for a password if it is restarted even when a password file exists.

[2022-04-16 22:34] wwwjn commented on #3974
Update: Figure our problem in python package Httplib2 and Apache Beam.
Design Doc and Solution: https://docs.google.com/document/d/1q2zTXFPlkjnm-xm6_IcfenAm5twBsYOIEdopxEHCbx0/edit#

[2022-04-19 10:42] longxudou opened #4071 "More disk space for evaluating T5-3B"
**Describe the bug**
I am evaluating the T5-3B and meet the same `kill` problem as [this issue](https://github.com/codalab/codalab-worksheets/issues/4055), could you please spare more disk space for the following worksheet.

**Codalab Information**
- *Your username*: longxud
- *UUID of worksheet where problem occurred*:
- https://worksheets.codalab.org/worksheets/0xb2ec1d7b42b740c98404622e003869ac

[2022-04-20 10:31] longxudou commented on #4071
Hi @epicfaace @teetone , if the space use is difficult to expand, you can just deal with https://worksheets.codalab.org/worksheets/0xb2ec1d7b42b740c98404622e003869ac . And I will reuse this worksheet for other two evaluations. The permission to `ADMIN` is open.

Add 10G to my account would be very helpful indeed.

Thanks in advance.

[2022-04-20 16:26] epicfaace commented on #4071
Sure, we have given you a 20GB disk quota.

[2022-04-20 16:26] #4071 closed, assigned to teetone

[2022-04-21 05:13] longxudou commented on #4071
Thanks!

[2022-04-22 19:49] epicfaace commented on #3779
Design doc: https://docs.google.com/document/d/1l4kOqi9irBjOApmn4E6vlzsjAXDJbetIyVw8gMRHrpU/edit#

The client can request POST /bundles/{bundleid}/locations to create a bundle location called “blob” and get SAS tokens for uploading the archive file and archive index file on Blob Storage. It will then create these two files and upload them directly to Blob Storage. Finally, it will call POST /bundl

[2022-04-23 02:57] wwwjn opened #4074 "bypass codalab server for GCS blob storage uploads"
Similar issue for bypass server download #3974.

Need to add support for bypass server when upload to Azure or GCS.

Azure blob storage manager design: https://docs.google.com/document/d/1l4kOqi9irBjOApmn4E6vlzsjAXDJbetIyVw8gMRHrpU/edit#heading=h.vat4mpk6gcza

[2022-04-23 22:01] wwwjn opened #4075 "`cl ls` ref number error when rerun a bundle using front end."
**Describe the bug**
When rerun some bundles at front end, the order and ref number of the new bundle is wrong.

**Codalab Information**
- *Your username*:
- *UUID of worksheet where problem occurred*:
- *UUID of problem bundle (please don't delete)*:
- *Error message received from Codalab (if applicable)*:
 - *OS (if on CLI)*: MacOS
 - *Codalab CLI Version (if on CLI)*:  1.4.6
 - *Browser (if on

[2022-04-26 16:40] pranavjain commented on #4075
@wwwjn Is this related to #3989? I feel that the root cause is the same.

[2022-04-26 16:46] pranavjain commented on #4049
@teetone Can you check if there is a repro at your end? Else, we will close this one.

[2022-04-26 17:16] #4049 closed, assigned to nobody

[2022-04-26 17:31] wwwjn commented on #4075
Similar to #3989. Close this.

[2022-04-26 17:31] #4075 closed, assigned to nobody

[2022-04-26 18:30] pranavjain opened #4078 "Prevent worker manager from launching more workers if there are pending ones in the Slurm queue."

[2022-04-26 18:47] teetone commented on #4036
Worker launched via the worker manager with `/exports` as one of the volume mounts:

[code]

The NFS server has the dependencies:

[code]

The worker pod is able to access the dependencies stored on the NFS server:

[code]

[code]

How we mount before and after:

[code]

[code]

[code]

Started using bind mounts instead.

Mounting without specifying NFS type for volume. I would think it would work

[2022-04-26 19:14] pranavjain commented on #4036
@teetone and @epicfaace will debug it further.

[2022-04-26 19:39] wwwjn opened #4079 "CI process broken"
**Describe the bug**
Recently, the `Test / Format` CI broken. The detailed log is:

[code]

[2022-04-26 20:09] epicfaace commented on #3975
https://cloud.google.com/kubernetes-engine/docs/deprecations/docker-containerd

[2022-04-26 20:19] wwwjn opened #4082 "Add GCS storage end-to-end tests"
For Azure, we have Azurite to mimic the real Azure and make end-to-end tests.
We also need similar test tools for GCS, without exposure the GCS credentials to public/github.

Related Docs: https://docs.google.com/document/d/1Bfnsifr4gPlvlXV1Zr1SP0Vk1DY0KSlgB0lwCVAGYbI/edit#

[2022-04-26 20:26] #4079 closed, assigned to nobody

[2022-04-26 21:37] #3238 closed, assigned to wwwjn

[2022-04-28 01:36] teetone opened #4083 "Design how to support TPUs"
Our workers are compatible with Nvidia GPUs but not TPUs. We need to design a way to support both.

https://cloud.google.com/tpu/docs
https://trisongz.medium.com/accessing-your-tpus-in-docker-containers-with-tpu-vm-e944f5909dd4

[2022-04-28 04:18] pranavjain commented on #4083
Is this an urgent requirement blocking a user? Do we need p1 for this?

[2022-04-29 05:18] pranavjain opened #4084 "Improve STDOUT for users"
Currently, a user has to wait several minutes before seeing an output. Improve STDOUT logic to display output instantly, like in real-life code debugging. We tried to solve this earlier via #4023

[2022-04-29 05:20] pranavjain opened #4085 "In the worksheet view, should show run_status right below state."

[2022-04-30 19:46] epicfaace opened #4089 "Kuberneetes worker manager: ImagePullPolicy should be changed"
Right now, ImagePullPolicy is not set, so by default it's set to IfNotPresent (https://github.com/codalab/codalab-worksheets/blob/e692925c2bc19a47c6e2447b14b4ff732ded4e7a/codalab/worker_manager/kubernetes_worker_manager.py#L124). This is a problem because if we end up re-publishing a docker image for a version (say, v1.5.0), a kubernetes cluster won't pick it up. Not a major problem (this may not

[2022-04-30 21:07] epicfaace opened #4091 "Upgrade from python 3.6"
Python 3.6 is no longer supported by the Python core team and is now end-of-life; we should upgrade.

[2022-05-01 02:50] epicfaace opened #4092 "RuntimeError: cannot release un-acquired lock"
@teetone I think this might be a quick fix. I noticed this error when I ran several workers through kubernetes on my local computer.

![image](https://user-images.githubusercontent.com/1689183/166130121-42640759-883f-477c-99d8-d11d22f5c0a2.png)

[2022-05-01 05:34] teetone commented on #4036
Closing as we will switch from containers to pods.

[2022-05-01 05:34] #4036 closed, assigned to teetone

[2022-05-02 19:07] teetone commented on #3238
Verified the fix works.

[2022-05-03 19:14] pranavjain commented on #3974
@epicfaace and @wwwjn will work on resolving the test cases.

[2022-05-03 19:17] pranavjain commented on #3779
@wwwjn needs to talk with @epicfaace to resolve azure upload issues.

[2022-05-03 19:23] pranavjain commented on #4084
@percyliang Do we still want to do this given that #3975 would solve it for most of the users (other than NLP Slurm Users)?

[2022-05-03 19:49] pranavjain commented on #4084
We realized during the demo that #3975 wouldn't solve the issue directly and we would need some changes for the STDOUT to read not from the file but directly from Kubernetes output.

[2022-05-03 20:14] percyliang commented on #4084
I think we need to not just be able to read out stdout, but any file in real time from a worker (which could be be on any machine, including ad-hoc workers).

[2022-05-03 20:17] epicfaace opened #4095 "gke: Only use bundle directories on NFS when running preemptible bundles"
For performance reasons. Otherwise, bundle directories should be stored locally.

[2022-05-03 22:09] percyliang commented on #4095
Is there a big performance hit from using NFS?  I assume that most people will just always run things in preemptible mode, so does this matter?  The ones where you won't run in preemptible are likely to be smaller runs, in which case NFS isn't a big issue?

[2022-05-04 12:46] epicfaace commented on #4084
Here's how we can fix this:

Replace the worker check-in / messaging mechanism (which depends on polling) to instead communicate messages over a websocket between the server and worker. This would make server-worker communication nearly instantaneous and not take 5-20 seconds per message. This would entail:
- the server would maintain a websocket for each worker
- **server side**: in worker_model.

[2022-05-06 02:01] epicfaace commented on #4095
@percyliang There's always somewhat of a performance hit when using NFS. If X workers are all using the same NFS disk, they have to connect to a single NFS server, which acts as a bottleneck.

The idea behind this issue is that a shared NFS disk is usually used for two purposes:
A) sharing dependency cache -- i.e., reading from a downloaded dependency directory
B) sharing run directories so they c

[2022-05-07 13:46] percyliang commented on #4095
That makes sense.  But I think people might always want to run their job in preemptible mode (because who wants to lose their work when their job gets pre-empted).  If the bulk of the computation done requires NFS anyway, do we save that much by supporting local and NFS?

Regardless, we need to make sure that the NFS option is scalable (on GCP).  How many jobs do you think we can scale up to this

[2022-05-08 05:59] percyliang commented on #4084
This sounds a lot cleaner!

I'm curious: if I'm downloading a large file from the worker through the server, can I still get a quick request about stdout and have the run status automatically update?

[2022-05-08 08:02] Shuailong opened #4097 "Delete account"
Hi, I am not sure whether here is the best place to contact the Codalab admin, but I did not find any contact info on the website.

I have registered Codalab account several years ago, and now would like to delete the account as well as some sensitive data. However, when there's some bundles in my account so I cannot delete my account. I tried to delete the bundle, but the UI disable the delete bu

[2022-05-08 12:58] epicfaace commented on #4097
Hi, what is your username and which bundles do you want deleted? Please send the information to codalab.worksheets@gmail.com.

[2022-05-10 01:26] JiexingQi commented on #4056
@teetone Sorry to bother you again, but I wonder if I can use another GPU (such as 3090, or 16GB v100) whose memory is larger than 12GB. Does the codalab only support 12GB memory GPU in this platform?

[2022-05-10 03:34] teetone commented on #4056
Hi @JiexingQi, we currently have K80 GPUs, but you can attach your workers.

[2022-05-10 03:36] JiexingQi commented on #4056
@teetone  oh, I got it. Thank you very much.

[2022-05-10 19:26] epicfaace commented on #4095
Todo: add a doc which describes
- type of preemption (slurm, GKE)
- solutions for each one, including copying
- which parts are implemented already, which parts should be implemented in the future

[2022-05-13 19:13] teetone opened #4098 "SendGrid -> Slack notification issue"

[2022-05-13 20:34] epicfaace opened #4100 "Create a status page"
Use https://status.eventive.org/#month and https://www.atlassian.com/software/statuspage?utm_campaign=status.eventive.org&utm_content=SP-notifications&utm_medium=powered-by&utm_source=inapp

[2022-05-13 20:41] #3224 closed, assigned to nobody

[2022-05-13 20:41] #3154 closed, assigned to nobody

[2022-05-13 20:46] epicfaace opened #4101 "Improve monitor script"
- Send to codalab.worksheets@gmail.com or our personal emails?

A lot of things are suboptimal, goal is to track: when are things abnormally suboptimal?

- Think about how to improve
- Run `cl upload` / `cl run` instead of `cl search` (which is usually slow)
- When we send a report saying things are too slow, include more context (how many workers, how many bundles, etc.)

<img width="671" alt="im

[2022-05-16 03:21] pranavjain commented on #4085
PR uploaded for showing run_status in the bundle side view.

I was able to see the docker image percentage in the run_status while running locally.

Regarding `move memory usage up`: metadata is currently sorted alphabetically, do we want to break the order? @percyliang

![image](https://user-images.githubusercontent.com/10134824/168514494-bfc81a8a-4d8b-4799-b7b7-0eef116c4640.png)

[2022-05-16 18:48] wwwjn opened #4104 "Running CLI test cases locally fails"
**Describe the bug**
Some test cases fail when running locally, but success when running using github CI. For example,  `blob, uls, time, link, worksheets, protected_mode` are failed when test on my local machine (Mac Intel Chip).

**To Reproduce**
Steps to reproduce the behavior :
1. Follow the `Server-setup.md` docs to set an instance and run the test cases locally.

**Expected behavior**
All th

[2022-05-16 18:52] wwwjn commented on #4104
Update:
1. `blob` is designed to testing Azure using Azurite, and set `CODALAB_ALWAYS_USE_AZURE_BLOB_BETA=1`. This need to be mentioned in `Server-setup.md`.

2. `uls` fails because of the time lag between local machine and rest-server docker.

3. `worksheets` fails because of a bug in code.  Have already figured out and will create a PR to fix this.

[2022-05-16 23:43] teetone commented on #4098
From SendGrid:
[code]

[2022-05-17 06:13] teetone commented on #4064
I was debugging and created a new cluster. I ran into this new error:

[code]

They recently started to enforce using containerd instead of Docker from v1.23 (not v1.24 as we initially thought).

[2022-05-17 18:51] epicfaace opened #4105 "codalab.stanford.edu web CLI broken"
<img width="537" alt="image" src="https://user-images.githubusercontent.com/1689183/168888397-d495f9e7-349c-4077-9a8c-d2b5b5298672.png">

<img width="485" alt="image" src="https://user-images.githubusercontent.com/1689183/168888466-0c1ff5a5-951a-4927-bae6-b971c612e157.png">

[2022-05-17 19:03] pranavjain commented on #4105
Did we change anything recently related to this?

[2022-05-17 19:06] wwwjn commented on #3779
update: Finish the upload process. Working on error handling and testing. Details: https://docs.google.com/document/d/1qFT6OWSUW5-2ZfnkK_q6P-Q-9sVe_fyBLX3UfEIWRiY/edit?pli=1#

[2022-05-17 19:12] epicfaace commented on #4064
Change the default node pool node image from ubuntu (https://cloud.google.com/kubernetes-engine/docs/concepts/node-images) to ubuntu_containerd (https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd)

[2022-05-17 19:13] epicfaace commented on #4064
- Try creating a new cluster
- see if docker is still available

[2022-05-17 19:16] epicfaace commented on #3975
Good read / explanation: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/check-if-dockershim-removal-affects-you/

[2022-05-17 19:19] #3974 closed, assigned to wwwjn

[2022-05-17 19:26] teetone commented on #4098
TODO -  Verify domain: https://docs.sendgrid.com/ui/account-and-settings/how-to-set-up-domain-authentication

[2022-05-17 19:46] epicfaace opened #4106 "Move worksheets.codalab.org to use Azure Kubernetes engine, and move Azure workers to use kubernetes runtime"

[2022-05-17 21:22] teetone commented on #4098
Fixed - 5/17/2022

[2022-05-17 21:22] #4098 closed, assigned to teetone

[2022-05-18 22:11] epicfaace commented on #1426
We no longer use nvidia-docker2. We use nvidia-docker now.

[2022-05-18 22:11] #1426 closed, assigned to nobody

[2022-05-23 07:54] teetone commented on #4064
It turns out that starting from GKE v1.23, the default container run time for the nodes is containerd and not Docker.

`kubectl get nodes -o wide`:

[code]

We need to create a separate Nvidia GPU setup for Pods vs. Docker containers.

[2022-05-24 19:27] pranavjain commented on #3975
@teetone to help with the testing Nvidia containerd

[2022-05-25 21:04] wwwjn opened #4110 "Stanford Monitoring-- CodaLab on codalab.stanford.edu command too slow"
**Describe the bug**
There are 2 commands on Stanford instance is too slow:
[code]
But other instance monitoring is normal.

[2022-05-26 17:29] #4091 closed, assigned to nobody

[2022-05-26 22:59] teetone commented on #4042
From https://stackoverflow.com/questions/60151864/does-google-kubernetes-engine-support-custom-node-images-and-or-10gbps-networkin, "GKE...does not support custom node images." Also, see this related link: https://groups.google.com/g/gce-discussion/c/jIX6jN6X4r0?pli=1.

When I first worked on GKE + CodaLab, I didn't see any other solution except for installing the Nvidia drivers via DaemonSets.

[2022-05-30 04:19] pranavjain opened #4113 "Improve run_status: show the percentage of docker image downloaded"

[2022-05-30 04:20] pranavjain opened #4114 "Improve run_status: upload "147 done" should render bytes properly"

[2022-05-30 04:20] pranavjain opened #4115 "Move the memory usage in the worksheets view."
Principle: have more metrics show up in the bundle panel so you don't have to click to the bundle view.

[2022-05-30 04:21] pranavjain opened #4116 "Put a (info) icon next to the state, tooltip shows a brief description and clicking goes to the full documentation."

[2022-05-30 04:22] #4085 closed, assigned to pranavjain

[2022-05-31 14:25] epicfaace commented on #4042
@teetone What does that mean? Are we still able to solve the issue?

[2022-05-31 17:19] teetone commented on #4042
I don't think it's possible. We will save some time when we switch to Pods since we can just skip the Docker-related installation.

[2022-05-31 19:23] #4042 closed, assigned to teetone

[2022-05-31 19:35] teetone commented on #3948
Try just:

[code]

without logging in.

[2022-05-31 22:45] epicfaace commented on #3771
For this bundle:

https://worksheets-dev.codalab.org/bundles/0x6d97dfe5f00e43269cb31cd5240e032e

Currently on dev:

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/1689183/171295315-be86070b-4c7e-49c5-b97f-f8da58125ca9.png">

With the changes in https://github.com/codalab/codalab-worksheets/pull/4063:

<img width="1142" alt="image" src="https://user-images.githubuserco

[2022-06-02 01:19] JiexingQi opened #4123 "Why my running bundle is killed?"
**Describe the bug**
I'm running evaluation in codalab and use the t5-3b model, but the GPU provided in codalab is not suitable to load it and I have to run it in CPU in codalab. However, it may take a long time to run, but I find that my running bundle is killed when a long time run.  And this occurs in many times in my running. What is the problem with it? How can I avoid it?

**Codalab Informat

[2022-06-02 05:11] JiexingQi commented on #4123
I try to use request-time=20h but it dosen't work. My running bundle still be killed.

[2022-06-02 05:15] JiexingQi commented on #4123
Hi, @epicfaace , @teetone ,can you help me with this problem? What is meaning for

[code]
Thanks a lot.

[2022-06-02 19:49] epicfaace commented on #4123
@JiexingQi Maybe it ran out of memory?

[2022-06-02 23:25] JiexingQi commented on #4123
@epicfaace Thanks a lot. This is indeed the reason why it was killed. By the way, I wonder the max memory a user can request? Maybe it is 54G? When I request more than 54G, my bundle will be staged? How can I request a larger memory without being staged? Could you kindly provide me with some suggestions? Thanks again.

[2022-06-03 02:05] epicfaace commented on #4123
Perhaps, it might be 54G, though I'm not sure. There's no way to increase the max because we have certain VMs with a pre-set amount of memory running as workers.

[2022-06-03 12:38] JiexingQi commented on #4123
Well, I got it. Thanks a lot, @epicfaace

[2022-06-03 12:38] #4123 closed, assigned to nobody

[2022-06-05 05:45] #4066 closed, assigned to teetone

[2022-06-19 02:01] leilenah commented on #4116
### Implementation
1. ~~Choose tooltip from Material UI~~
2. ~~Add documentation to user docs~~
3. ~~Create shared tooltip~~
5. ~~Add state tooltip to Dashboard View~~
6. ~~Add state tooltip to Worksheet View~~
7. ~~Add state tooltip to Bundle View~~
9. ~~Run pre-commit script~~

### Research
1. ~~Find an existing tooltip on the site~~
1. ~~Determine all the locations where the state is shown to t

[2022-06-23 17:43] leilenah commented on #3989
### Investigation
* view affected is worksheet view
* the user should be able to select and determine where the bundle is to be added
* likely an issue with  `after_sort_key` and `getAfterSortKey` function
    * The `after_sort_key` determines where the new run should be inserted
* sometimes sort key is set to null for some rows
    * potentially could be an issue with the way the backend is sendi

[2022-06-23 18:16] leilenah commented on #3989
### Unable to Repro
@pranavjain @epicfaace I am unable to reproduce this bug. Are either of you able to repro on your end? I'm wondering if this was fixed with some other issue.

### Screen Recording

https://user-images.githubusercontent.com/25855750/175366624-a3442df1-7cb0-41b6-a97d-12a654f00a82.mov

[2022-06-23 19:53] leilenah commented on #4062
### Implementation
1. ~~If `--store` flag is present, check valid store name before attempting to upload~~
2. ~~If store name is invalid, notify the user~~
3. ~~Show the user a list of valid store names~~
4. Add tests
5. Delete test text after capturing screen recording

### Investigation
* when you upload with an invalid store name, the bundle still gets uploaded to the user's home worksheet

[2022-06-24 23:51] leilenah commented on #3989
@percyliang do you happen to know if this was resolved with a different issue? Are you able to repro on your end?

[2022-06-25 01:18] jzwang43 commented on #3989
You might have to create bundles through CLI and open the same worksheet on
web to reproduce.

On Fri, Jun 24, 2022 at 4:51 PM Leilenah Mamea ***@***.***>
wrote:

[2022-06-27 21:09] leilenah commented on #3989
@jzwang43 I just attempted that flow and am still unable to repro. Are you able to point me to a worksheet on production where this is happening?

[2022-06-27 21:35] leilenah commented on #4058
### Implementation
1. Add "Loading..." placeholder to bundle details page stdout content section
2. Replace loading placeholder with spinner icon
    * search repo for existing spinner ui
    * if none exists, pull from mui

[2022-06-27 23:14] pranavjain commented on #4058
Please hold on to this task. We might not need this anymore due to recent STDOUT changes.

[2022-06-28 01:59] leilenah commented on #4058
@pranavjain sounds good, added blocked label. Going to un-assign myself as well.

[2022-06-28 02:38] leilenah commented on #3989
Removing myself from this issue for now, as I am unable to repro it. If anyone is able to repro or if a user reports this issue, feel free to re-assign me.

[2022-06-28 02:56] leilenah commented on #4057
@pranavjain I think that having individual tooltips would be more beneficial to the user than turning each metadata field into a link.

However I can also make one doc that contains all the metadata definitions, and then have each tooltip icon link out to that doc (like I did with the state tooltip).

Lmk your thoughts.

[2022-06-28 03:00] leilenah commented on #4057
@pranavjain to clarify ☝️ each tooltip would contain the relevant metadata description only (unlike the state tooltip, which has the says the same thing in every tooltip).

[2022-06-28 04:21] #3779 closed, assigned to wwwjn

[2022-06-28 16:14] epicfaace commented on #3989
@leilenah did you try this worksheet?

If you can't reproduce, please close this issue.

[2022-06-28 21:11] leilenah commented on #3989
@epicfaace I don't have access to modify that worksheet. Are you able to grant me access?

[2022-06-28 21:46] leilenah commented on #4116
### Separate Issues

 1. https://github.com/codalab/codalab-worksheets/issues/4131
 2. https://github.com/codalab/codalab-worksheets/issues/4132
3. https://github.com/codalab/codalab-worksheets/issues/4133

[2022-06-29 12:35] epicfaace commented on #3989
@leilenah Try logging in as the codalab admin user? https://github.com/codalab/deployment/blob/main/ansible/roles/credentials/vars/main.yml#L3-L4

[2022-06-29 16:23] pranavjain commented on #4057
I agree that having an individual tooltip would be better.

I have two concerns though:
- It might look a bit cluttered with so many tooltip icons.
- Tooltip is good if we have short/one-liner text which looks like the case right now. But, it might not be extensible later on.

Can you attach a screenshot with tooltip icons in each of the rows to see how it looks?

[2022-06-29 16:35] pranavjain commented on #3989
@leilenah, I was able to repro it. Please select a bundle on your bottom sheet before clicking on the `run` button. This new bundle should be added below the selected one, but it goes to a random place.

[2022-06-29 19:49] pranavjain commented on #4105
No more repro.

[2022-06-29 19:49] #4105 closed, assigned to nobody

[2022-06-29 20:08] leilenah commented on #4058
### Notes
* Loading blocks might be better UI than a spinner (see worksheet loading block)

[2022-06-29 20:16] teetone opened #4130 "Renew SSL cert - codalab.stanford.edu"

[2022-06-30 05:10] pranavjain commented on #4064
@teetone Please look into this issue and update/close as per today's discussion.

[2022-06-30 17:39] leilenah commented on #4116
### Percy Notes

![Screen Shot 2022-06-30 at 1 22 24 PM](https://user-images.githubusercontent.com/25855750/176771667-b89affd1-d2f0-4232-b7ae-f4f961dc830b.png)

* state and run status are different
* the run status is a refinement of the actual states
* the user sees both states and run statuses
* state and run status could be redundant
    * note that run status is currently in prod
* Merge run s

[2022-06-30 17:44] leilenah commented on #4057
### Percy Sync
* The backend should provide the description

[2022-06-30 20:23] leilenah commented on #4116
### Refactors
1. ~~Update tooltip UI to use downward arrows~~
2. ~~Indicate current state~~
6. ~~Send bundle state details with `bundleInfo` from backend~~
1. ~~Remove run status~~
5. ~~Handle staged_status~~
7. ~~Move state next to info icon (keep details below)~~
9. ~~Add documentation~~
8. ~~Add unit tests for `get_bundle_state_details` util~~
9. ~~Move docs to Concepts~~
10. ~~Rename to "lifec

[2022-06-30 20:27] leilenah opened #4131 "Optimize & Consolidate Bundle Sidebar & Bundle View"
## Documentation

[Bundle View UI Redesign](https://docs.google.com/document/d/1vqb8a2DuFqioAKwiIhws__8Y7SknZNAbqDzlSrpRJlI/edit#)

## High-Level Goals
1. Use the same code path for `BundleDetailSidebar` and `BundleView`
2. understand the purpose of each field shown in this view
3. create logical groupings, e.g. `requests` can be grouped together
4. determine the optimal UI for dense technical inf

[2022-06-30 20:35] leilenah opened #4132 "Optimize Bundle Detail Sidebar UI"
@leilenah to fill out in detail

**Blocker**
https://github.com/codalab/codalab-worksheets/issues/4131

**High-Level Goals**
1. Determine the most important things that need to be in the sidebar
2. The data in the sidebar should be consistent with the data in the bundle view
3. Make the bundle detail sidebar more aesthetically pleasing
4. Create UI mock-ups and present options to the team

[2022-06-30 20:36] leilenah commented on #4132
### Wikipedia Sidebar Reference

![Image](https://user-images.githubusercontent.com/25855750/176773759-2ce034fe-02ff-47f1-8236-2d58d36e8a71.png)

[2022-06-30 20:41] leilenah opened #4133 "Optimize Bundle `cl info` output in CLI"
### Implementation
- [x] Remove `:` from print
- [x] Update run bundle groupings to match detail sidebar
- [x] Update uploaded bundle groupings to match detail sidebar
- [x] Update make bundle groupings to match detail sidebar
- [x] Ensure that arguments passed in still function as expected
    * -f, --field
    * -r, --raw
    * -v, --verbose
    * -w, --worksheet-spec
- [x] Ensure that headless

[2022-06-30 21:20] leilenah commented on #4132
### Ideas
1. potentially show dynamic state graphic instead of having it be in the tooltip only

[2022-07-01 07:26] Opdoop commented on #1258
I meet the same problem following https://codalab-worksheets.readthedocs.io/en/latest/examples/quickstart/
After ` pip install codalab -U --user`, run `cl work` get `bash: cl: command not found`.
Don't know what caused this bug, but I add alias manually, `alias cl="python ~/.local/lib/python3.6/site-packages/codalab/bin/cl.py"` solved this problem.

[2022-07-02 08:31] #4130 closed, assigned to teetone

[2022-07-04 01:38] leilenah commented on #4062
This issue was resolved by @wwwjn as part of https://github.com/codalab/codalab-worksheets/issues/3779

Specifically with this line: https://github.com/codalab/codalab-worksheets/blame/master/codalab/model/bundle_model.py#L2989

Closing this issue.

[2022-07-04 01:38] #4062 closed, assigned to leilenah

[2022-07-04 02:01] leilenah commented on #3989
@pranavjain @epicfaace below is a screen recording of me trying to repro the issue on worksheet `0x411c4f80346b4732a1aacb8402ec4d04` while logged in as the codalab admin user. I am still unable to repro (even with Pranav's latest instructions).

I'm going to close this issue for now. Please let me know if anyone comes across this issue again.

### Screen Recording

https://user-images.githubuserco

[2022-07-04 02:08] jzwang43 commented on #3989
@leilenah
only the last two items in the worksheet have issues, try clicking on one of the last two items. You will see the new run show up above them instead of below

[2022-07-04 02:09] jzwang43 commented on #3989
@leilenah The reason why this happens is that the items have sort-key as "null", check out my previous pull request for this issue and the conversations for more context.

https://worksheets.codalab.org/rest/interpret/worksheet/0x411c4f80346b4732a1aacb8402ec4d04?brief=1

This is the API request for the worksheet items and then search for sort_key and you will see the nulls.

[2022-07-04 18:50] leilenah commented on #3989
@jzwang43 here's an updated screen recording of me only creating runs below the last two items. It looks like they appear in the correct place. Am I missing a step? Or perhaps am I misunderstanding where the bundles should end up in the UI?

**Browser Used:** Chrome
**Worksheet Used:** https://worksheets.codalab.org/worksheets/0x411c4f80346b4732a1aacb8402ec4d04

https://user-images.githubuserconte

[2022-07-04 19:49] jzwang43 commented on #3989
@leilenah Hi, when you were trying to reproduce, there were no null sort_keys in the worksheet for some reason.
Sort keys were created by creating run bundles via CLI.

I created several null sort key items at the bottom, you can try again to reproduce, or manually create null sort_keys items by running `cl run "xxxxx"` in the command line on the web UI.

https://user-images.githubusercontent.com/

[2022-07-04 20:47] leilenah commented on #3989
Ah, thanks for the additional context @jzwang43.

[2022-07-04 21:03] leilenah commented on #4114
### Investigation
* Issue is likely with this line https://github.com/codalab/codalab-worksheets/blob/master/codalab/worker/worker_run_state.py#L692

https://user-images.githubusercontent.com/25855750/177217860-b50970fd-03b8-402e-a20e-9dae03d39a5d.mov

[2022-07-04 21:48] leilenah commented on #4057
### Implementation
1. ~~Get descriptions sent from the backend~~
2. ~~Pass descriptions into a tooltip icon (mimic state icon UI)~~
3. ~~Make sure UI matches state icon~~
4. ~~Confirm that editable fields are still editable~~
6. ~~QA~~

[2022-07-04 21:55] leilenah commented on #4114
Issue pending more clarification from @pranavjain (via Slack)

[2022-07-04 22:21] combacsa commented on #3869
Now I'm happy to close this issue. All issues resolved. Thank you very much!

[2022-07-04 22:21] #3869 closed, assigned to nobody

[2022-07-05 18:12] teetone commented on #4078
Attempt to start a worker on jagpuard28, where we know the Slurm job will be stuck in `PENDING`:

`conda activate tonyhlee_codalab`
`cl-worker-manager --server https://worksheets.codalab.org  --worker-tag-exclusive --worker-tag nlp --min-workers 0 --min-seconds-between-workers 20 --sleep-time 10 --worker-max-work-dir-size 250g --max-workers 3 --worker-shared-memory-size-gb 8 --worker-work-dir-pref

[2022-07-06 14:31] epicfaace opened #4136 "Can't download a bundle that was uploaded through bypass upload blob"
Try downloading the bundle https://worksheets.codalab.org/bundles/0x7b1273c1eae345c29208330528ecaf3b and it goes to https://storageclwsprod1.blob.core.windows.net/bundles/azfs://devstoreaccount1/bundles/0x7b1273c1eae345c29208330528ecaf3b/contents.gz?se=2022-07-06T15%3A30%3A49Z&sp=rt&sv=2019-12-12&sr=b&rscd=inline%3B%20filename%3D%22_%22&rsce=gzip&rsct=text/plain&sig=qzHzYIr%2Bhl5AnNKlcras171ulhC2B

[2022-07-06 17:39] wwwjn commented on #4136
Do you upload using CLI and try to download using Web browser? @epicfaace

[2022-07-06 19:43] pranavjain commented on #4064
Waiting for @epicfaace change before investigating this further.

[2022-07-06 19:52] pranavjain commented on #4116
![Image](https://user-images.githubusercontent.com/10134824/177631611-0bf9dc44-cb5e-4f63-9d82-3cc1b029d28f.png)

Add a new page under concepts -> Lifecycle of a Bundle

[2022-07-06 19:55] pranavjain commented on #4078
@pranavjain To Repro

[2022-07-07 19:33] epicfaace commented on #4136
@wwwjn , I uploaded using the web CLI by doing `cl upload --store blob -c "hello world"`. I tried to download using web browser.

[2022-07-07 20:14] leilenah commented on #4131
### Wikipedia Sidebar Reference

![Image](https://user-images.githubusercontent.com/25855750/176773759-2ce034fe-02ff-47f1-8236-2d58d36e8a71.png)

[2022-07-07 20:17] leilenah commented on #4132
@pranavjain I'm closing this. I will do this as part of https://github.com/codalab/codalab-worksheets/issues/4131

[2022-07-07 20:18] #4132 closed, assigned to leilenah

[2022-07-07 20:30] leilenah commented on #4131
### Percy Meeting Notes
* the bundle detail sidebar and the bundle view should share the same code path
    * this means that they should essentially look the same, but perhaps the bundle view is uncollapsed / fuller width
    * ideally the same components could be used across both views
    * both should have the same logical / visual structure
    * the main point of the bundle view is for shari

[2022-07-07 23:02] leilenah commented on #4057
@epicfaace or @wwwjn  I would love a review when you have a chance 🙃

[2022-07-09 05:20] wwwjn commented on #4136
For now, we only support upload file bypass server, and does not support bypass server for string. So if this is a bug, I think it's not related to bypass server upload.  And I tried upload and download file, it works fine for me.

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/40016222/178092786-8126ec30-68ac-488c-ac01-003b8da30132.png">

[2022-07-11 06:57] teetone opened #4137 "Uploading a large folder to CodaLab via the UI - stuck at `0% uploaded`"
When I upload a large folder to CodaLab, I notice that the progress bar is stuck at `0% uploaded` for a long time before updating. It might be better to have an `Initializing` phase before, then show the percentage when the upload actually starts.

[2022-07-12 22:44] epicfaace opened #4138 ""pip install codalab" takes very long"
user reported issue:

Is it normal for pip install codalab to take >1h? I'm doing a fresh install on a new conda env (on the cluster), and it seems to be struggling with installing the right versions of google cloud packages. It's also spitting out warnings like:

[code]

Output:

![image](https://user-images.githubusercontent.com/1689183/178610886-ecf8244e-bb9e-446e-bf19-a60feed651b5.png)

[2022-07-12 22:51] leilenah opened #4139 "Fix `staged_status` and add it to bundle state details"
### Implementation
- [x] Remove `staged` from `get_bundle_state_details()`
- [x] Update `get_bundle_state_details()` to return `staged_status` when the bundle is `staged`
- [x] Show generic `staged_status` when we transition to `staged`
    * "Bundle’s dependencies are all ready. Waiting for the bundle to be assigned to a worker to be run."
- [x] If we found an optimal worker for the bundle, updat

[2022-07-12 22:55] leilenah commented on #4139
### Notes

#### Notes from @percyliang
Staged status should show up when we don't have enough resources to run a job (you might be able to do `cl run --request-gpus 10` or something to trigger). This is pretty important to see show up.

[2022-07-12 22:56] leilenah commented on #4139
@pranavjain heads up, this has been added to the User Experience milestone.

[2022-07-13 04:23] teetone opened #4140 "GKE Autoscaling is broken"
Node pool doesn't seem to scale up:

![gke_autoscaling_broken](https://user-images.githubusercontent.com/16793796/178650183-8109d002-8e66-438b-87bf-24e4c476999b.png)

GKE release channels:

https://cloud.google.com/kubernetes-engine/docs/release-schedule

[2022-07-13 16:16] #4057 closed, assigned to leilenah

[2022-07-13 17:24] epicfaace opened #4143 "cannot import name 'SerializationError' from 'azure.core.exceptions'"
User report:

Has anyone seen this before? On a fresh virtual env, I ran pip install -e . and tried to start a worker manager:

File "/Users/tonyhlee/research/codalab/codalab-worksheets/codalab/worker_manager/main.py", line 7, in
from .aws_batch_worker_manager import AWSBatchWorkerManager
File "/Users/tonyhlee/research/codalab/codalab-worksheets/codalab/worker_manager/aws_batch_worker_manager.py",

[2022-07-13 18:09] #4138 closed, assigned to epicfaace

[2022-07-13 19:44] pranavjain commented on #4114
New Bug: Modify the size string to add a flag to include bytes if needed.

[2022-07-13 19:45] percyliang commented on #4114
Add `include_bytes=True` as a argument to `size_str`.

[2022-07-13 20:08] leilenah commented on #4114
### Notes
* kilobyte - 1024 bytes
* megabyte - 1024 kilobytes
* gigabyte - 1024 megabytes
* terabyte - 1024 gigabytes

[code]

[2022-07-13 20:10] leilenah commented on #4114
@pranavjain I ended up just re-opening this. No need to create a new bug since it should be a small update.

[2022-07-14 06:58] #4116 closed, assigned to leilenah

[2022-07-18 05:52] wwwjn commented on #4136
The problem is that bundle storage `blob` points to wrong places ( it points to test Azure account `devstoreaccount1 ` rather than production account). Fix this by delete all this bundle storage and create a new one named `blob-prod`, which points to prod Azure account  `storageclwsprod1 `.
<img width="763" alt="image" src="https://user-images.githubusercontent.com/40016222/179451823-c810762b-9d80

[2022-07-18 05:52] #4136 closed, assigned to wwwjn

[2022-07-18 22:20] wwwjn opened #4149 "Dev environment upload to Azure connection timeout"
**Describe the bug**
When using dev environment upload large files, it will give connection time out. Please see 3:29 in the following video.
[code]

https://user-images.githubusercontent.com/40016222/179626844-6adb941e-118c-474c-9da2-956c403b290c.mov

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expla

[2022-07-20 17:57] leilenah commented on #4131
### Refactors
- [x] Update all components to use camelCase
- [x] BundlePageLink comment typo `bundle`
- [x] BundleStateBox use === throughout
- [x] Time Tooltip typo -- `amout`
- [x] Can we render the time field (which is time spent actually running)?
    * Time since created is also meaningful, but sometimes not the thing you want.
    * Maybe there's a way to render both?
    * In general, maybe

[2022-07-20 19:52] epicfaace opened #4154 "Benchmarking blob storage upload tests"

[2022-07-20 20:01] teetone commented on #4149
Does this happen from `scdt` (ssh scdt)?

[2022-07-21 20:32] teetone opened #4156 "Connection Error when launching jobs. Tested from `k8s-runtime` branch"
[code]

[2022-07-21 21:37] teetone commented on #4156
2022-07-21 21:34:36,062 Cannot start container: HTTPSConnectionPool(host='34.90.237.115', port=443): Max retries exceeded with url: /api/v1/namespaces/default/pods (Caused by SSLError(FileNotFoundError(2, 'No such file or directory'))) /opt/codalab/worker/worker_run_state.py 450
2022-07-21 21:34:36,068 Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/urllib3/util/s

[2022-07-22 22:49] leilenah commented on #3988
Added in https://github.com/codalab/codalab-worksheets/pull/4150

[2022-07-24 23:17] leilenah commented on #3988
https://user-images.githubusercontent.com/25855750/180669802-3ad630fa-acb6-48bd-a619-3611846af9d9.mov

[2022-07-24 23:41] leilenah opened #4160 "[USER ISSUE] <urlopen error [Errno 111] Connection refused>"
**Describe the bug**
When I try to run `test_runner.py` locally, I get the following error:

[code]

**Codalab Information**
- *Your username*: leilenah
- *UUID of worksheet where problem occurred*:
- *UUID of problem bundle (please don't delete)*:
- *Error message received from Codalab (if applicable)*: see above
 - *OS (if on CLI)*: MacOS
 - *Codalab CLI Version (if on CLI)*: latest
 - *Browser

[2022-07-24 23:41] #4131 closed, assigned to leilenah

[2022-07-25 23:49] leilenah commented on #4133
### Research
![image](https://user-images.githubusercontent.com/25855750/180893398-689b332e-459d-4fae-ba3f-ca4691e0ef64.png)

[2022-07-26 03:33] #4114 closed, assigned to leilenah

[2022-07-27 04:23] wwwjn commented on #4149
It also happens from my PC when uploading to Azure. I think it's a common problem. And it happens sometimes, and uploads success other times.
Related issue: https://github.com/Azure/azure-sdk-for-python/issues/12166

This is because "sometime the first put blob request cannot finish within the specified/default timeout value". Since we are using Apache Beam, I'm trying to find corresponding parame

[2022-07-27 19:42] pranavjain commented on #3975
https://jamboard.google.com/d/1_wV8vM9A5nMo1i4r6A8ZmgBMUSGKe7hkXyHZscLV8w0/viewer?ts=62c74ff8

[2022-07-27 19:45] #3988 closed, assigned to leilenah

[2022-07-27 19:51] pranavjain commented on #4133
Not pursuing this right now.

[2022-07-27 19:51] #4133 closed, assigned to leilenah

[2022-07-27 22:06] epicfaace commented on #4064
We will fix https://github.com/codalab/codalab-worksheets/issues/3975 and see if it resolves this issue, as it is likely to resolve this issue (because we probably won't be using NVIDIA DaemonSets anymore).

[2022-07-27 22:43] teetone opened #4165 "Values of `Permissions` overlap `Created` in Bundle View page"
https://worksheets.codalab.org/bundles/0x5739deb8cdc94a978dd692203d17c358

![Screen Shot 2022-07-27 at 3 40 59 PM](https://user-images.githubusercontent.com/16793796/181385022-5c0cfcb7-7cb0-47a2-a0ef-663e2c32477a.png)

[2022-07-27 22:47] teetone opened #4166 "`remote` field missing in Bundle View page"
We used to be able to see which worker the bundle was running on (`remote`). I can't seem to find it anymore.

https://worksheets.codalab.org/bundles/0x5739deb8cdc94a978dd692203d17c358

[2022-07-27 23:28] teetone opened #4167 "[USER ISSUE] Deleted bundle thats stored on GCS. Content still remains in bucket even after deleting."
1. For codalab.stanford.edu, upload a bundle to GCS: `cl upload <Path> --store gcp`
2. Check that it exists [here](https://console.cloud.google.com/storage/browser/codalab-stanford;tab=objects?forceOnBucketsSortingFiltering=false&authuser=2&project=hai-gcp-models&prefix=&forceOnObjectsSortingFiltering=false).
3. Delete the bundle.
4. Check the GCS bucket again. The content still exists.

[2022-08-01 18:51] teetone opened #4169 "Bundle Detail UI Fixes (6)"
### Tasks
- [x] Show an error message if bundle doesn't exist
    * **Example:**  https://codalab.stanford.edu/bundles/0x449b925399d547c0b2f5ee0150a5121a
- [x] Update the state box tooltips to use the same font size as the field name tooltips
- [x] Add proper field names to tooltips
- [x] Fix Permissions overflow
    * **Example:** https://worksheets.codalab.org/bundles/0x466051121f684894bdf59ac4a

[2022-08-01 22:10] #3989 closed, assigned to leilenah

[2022-08-01 22:43] teetone opened #4170 "[USER ISSUE] Warned about Python 3.9 for Apache Beam when I'm using python 3.8.13"
[code]

[2022-08-02 02:52] leilenah commented on #4169
Reference for how we handle missing worksheets:

![Screen Shot 2022-08-01 at 7 51 41 PM](https://user-images.githubusercontent.com/25855750/182281536-59a886a0-f1c8-497d-aedd-3067eab06dfe.png)

[2022-08-02 17:54] leilenah commented on #4169
@pranavjain if you have additional notes on the bundle detail UI, feel free to comment them here. I have captured a couple notes that came up during the last weekly meeting.

[2022-08-03 17:42] leilenah commented on #4165
@teetone I have fixed this in the scope of this ticket https://github.com/codalab/codalab-worksheets/issues/4169
will close this one out.

[2022-08-03 17:43] leilenah commented on #4169
Will address https://github.com/codalab/codalab-worksheets/issues/4165 here.

[2022-08-03 18:36] pranavjain opened #4172 "[CLI] cl work tab key doesn't auto complete"

[2022-08-03 18:40] pranavjain opened #4173 "Uploading state is reflected incorrectly in the bundle view v/s summary"
Refer to the summary v/s state column in the table
![image](https://user-images.githubusercontent.com/10134824/182684826-62c158b6-1deb-4e32-ba69-8f08f2923ccf.png)

[2022-08-03 18:43] pranavjain opened #4174 "State field doesn't refresh quickly in the table header view v/s bundle detail view."
Table Header View State: Uploading
Bundle View State: Ready
![image](https://user-images.githubusercontent.com/10134824/182685118-e95cd813-1bfe-4a23-9f55-ed07bfc94f50.png)

[2022-08-03 18:45] pranavjain opened #4175 ""Kill" button should not be visible on the Toolbar for "Ready" state bundles."
![image](https://user-images.githubusercontent.com/10134824/182685557-0477b86d-b977-4d56-b700-1950cd001f5d.png)

[2022-08-03 18:55] pranavjain opened #4176 "DELETE Bundle UI Issues"
- When deleting a bundle via UI, delete takes a long time (10+ sec) to process
- While delete is in process, a random bundle is removed temporarily from UI, and a copy of another bundle is created.

There is not a 100% repro of the above cases.

Recording of one repro (Restricted to team members): https://drive.google.com/file/d/1s2Z_UTaoJ8YdcxRDy501fv57hUJwRJZv/view?usp=sharing

[2022-08-03 18:59] pranavjain opened #4177 "Uploading via UI hangs at 100% for a prolonged period."

[2022-08-03 19:58] wwwjn commented on #4154
The test result is in the`test` part. https://docs.google.com/document/d/1qFT6OWSUW5-2ZfnkK_q6P-Q-9sVe_fyBLX3UfEIWRiY/edit?pli=1#heading=h.nzsd7jt9zuoh

Issue: The generate index process is really slow.

[2022-08-03 20:44] leilenah opened #4179 "Add `after_sort_key` arg when bundles are created via CLI"
### Context
We recently merged https://github.com/codalab/codalab-worksheets/pull/4168, which adds logic to the `get_worksheet_info` helper function that checks worksheet items for `null` sort keys and updates those `null` sort keys if needed.

For more context around why `null` sort keys are problematic, please read the function documentation for `get_worksheet_info`.

While this fix successfully

[2022-08-03 21:13] leilenah commented on #4179
### Development Notes
* We may need to update the bundle model: https://github.com/codalab/codalab-worksheets/blob/master/codalab/model/bundle_model.py

[2022-08-03 21:13] leilenah commented on #4179
cc @pranavjain

[2022-08-03 21:15] leilenah commented on #4179
@percyliang tagging you in case you have any notes / preferences you want to add

[2022-08-03 22:10] leilenah opened #4180 "Render `stdout` colors in bundle view details"
### Implementation
- [x] Show colors client side in bundle view
- [x] Show colors in `cl info`

### Overview
When `stdout` is fetched from the backend, it sometimes has color codes embedded in it. E.g. `93m` and `92m` (see example screenshot below).

The goal of this issue is to color code `stdout` using the embedded color codes if possible.

### Screenshots

![Screen Shot 2022-08-03 at 3 08 20 PM

[2022-08-03 22:17] leilenah commented on #4180
cc @pranavjain

[2022-08-03 22:26] leilenah opened #4181 "Remove `max-height` from `stdout` and `stderr` in single-bundle view"
### Overview
The `BundleDetail` component currently accepts a `sidebarExpanded` prop. When this prop is `true` bundle details default to an expanded state.

We need to do something for `stdout` and `stderr`. One option is to add another prop like `contentsExpanded` that determines if `stdout` and `stderr` should have a max-height or not. Currently `stdout` and `stderr` always have a max-height of

[2022-08-03 22:38] leilenah commented on #4181
cc @pranavjain

[2022-08-03 22:41] leilenah opened #4182 "Optimize bundle detail dependency list UI"
### Overview
In the bundle detail sidebar, dependencies with longer names are currently rendered in a way that is unpleasing to the eye. For example here is the dependencies list in [this worksheet](https://codalab.stanford.edu/bundles/0x3b15e291c825412680540b1805716627):

![Screen Shot 2022-08-03 at 3 47 03 PM](https://user-images.githubusercontent.com/25855750/182725405-b0692d90-08ac-4d31-99ec-8

[2022-08-03 22:51] leilenah commented on #4182
### Meeting Notes
* It's okay for dependency names to be truncated if needed, but there should be a way for users to quickly see the full name if needed
* Dependencies should continue to link out to their single-bundle view
* Need to figure out the best way to render dep key value pairs

[2022-08-03 22:52] leilenah commented on #4182
cc @pranavjain

[2022-08-04 04:50] teetone opened #4183 "Worker manager dies on sc (NLP)"
The worker manager I started on the NLP cluster died after some time with `Killed`.

[2022-08-04 05:00] wwwjn commented on #4154
<img width="713" alt="image" src="https://user-images.githubusercontent.com/40016222/182766689-7a5a3cfd-b8f8-4ebb-a91d-17ed6ea8c5c9.png">

[2022-08-04 05:00] #4154 closed, assigned to wwwjn

[2022-08-05 21:42] leilenah commented on #4182
### Research

Dependency Shape
[code]

* deps appear to be generated in `derived_bundle.py`
* the `child_path` is the first thing shown, followed by the indented `parent_name`
* the `parent_uuid` bundle view is what we link out to
* sometimes the child path and the parent name are the same
* sometimes the `child_uuid` doesn't have a corresponding bundle page
* `parent_name` is not always present
*

[2022-08-05 23:00] leilenah opened #4185 "Show toggles for true / false fields in the bundle detail sidebar"
We currently show `true` and `false` strings for boolean bundle fields. We should show a toggle like we do for `Allow Failed Dependencies` in the bundle run UI.

[2022-08-05 23:02] leilenah commented on #4185
cc @pranavjain

[2022-08-05 23:13] teetone opened #4186 "Show status of PREPARING"
We used to display why a bundle was preparing: downloading dependency, downloading docker image, etc.

I don't see this information anymore on the Bundle View page.

[2022-08-05 23:13] teetone commented on #4186
@pranavjain @leilenah  can you try it out?

[2022-08-05 23:15] teetone commented on #4166
@pranavjain I think we should prioritize. I miss seeing the value for `remote`.

[2022-08-05 23:16] percyliang commented on #4166
cc @leilenah This should be easy to add back.

[2022-08-07 15:49] percyliang opened #4188 "[CLI] better error message for incorrect password"
When user types in the incorrect password, it should say so rather than saying invalid spec:
[code]

[2022-08-07 15:56] percyliang opened #4189 "Edit/rerun and kill buttons in bundle panel should be more accessible"
Right now the buttons are at the bottom with a huge amount of space, which is even larger if 'more detail' is shown on the side bar, which requires scrolling:
![image](https://user-images.githubusercontent.com/435384/183299595-8b4f8115-03e9-47a5-acef-c690b293aa8d.png)
Could we make the buttons just at the bottom of Files?

[2022-08-07 16:23] lihaoyang-ruc opened #4190 "More disk space to upload and run our model"
Hi,

I'm trying to upload and run our fine-tuned T5 model (about 11G)  in CodaLab. However, due to the disk space limitation (10G), I can't upload it to the server. (Same issue as #4055 and #4071)

I filled out the "disk quota request form" three days ago, but haven't received a reply. Can you assign me a 20G disk quota?

Thank you in advance for any help you might be able to provide.

**Here is s

[2022-08-07 21:33] epicfaace commented on #4190
Thanks, we'll look into this shortly!

[2022-08-07 22:15] leilenah commented on #4186
@teetone Now you have to hover over the colored state box to see the specific state details. This isn't great. I'll figure out a way to show this elsewhere.

[2022-08-07 23:16] percyliang opened #4191 "bundle panel text rendering is misaligned"
When you click 'more detail', then the 'less detail' button has a gray part that overlaps with the text:
![image](https://user-images.githubusercontent.com/435384/183314827-4062d7ad-a174-4528-9c34-5fce72291fae.png)

[2022-08-07 23:19] percyliang opened #4192 "time and dependencies should be shown without having to click 'more detail'"
Currently, you have to click 'more detail' to see time and dependencies.  Dependencies are special and can be shown closer to the top, although for some bundles, there could be a lot of dependencies, which could also make it bulky...

Time is currently grouped nicely with the other time that makes sense, so maybe we should leave that there, but put an additional timing next to the state or somethi

[2022-08-08 02:47] lihaoyang-ruc commented on #4190
Hello @epicfaace,

Thanks for your quick reply.

However, before investigating the issue with the "request form", could you please address the issue of my insufficient disk quota? Currently my disk quota is still 10G.

<img width="337" alt="image" src="https://user-images.githubusercontent.com/45526716/183327324-6bdc47f3-4fe6-431a-97e4-8623bfa82f92.png">

We must submit our models to the leaderboa

[2022-08-08 03:13] epicfaace commented on #4190
Quota increased

[2022-08-08 03:13] #4190 closed, assigned to nobody

[2022-08-08 03:39] lihaoyang-ruc commented on #4190
Thanks a million.

[2022-08-08 17:19] leilenah commented on #4192
@percyliang when a bundle is `running`, `time` will be displayed right next to the `running` box in the bundle state diagram. Same with `preparing`.

As for deps, I can move those up 👍

[2022-08-09 22:04] leilenah opened #4193 "Login page UI Improvements"
1. Remove the large `Sign In` text, as well as the blue background behind it
2. Add a max width to the login inputs (currently they span the full width of their container)
3. Potentially wrap the login form in a white container so it doesn't look like inputs floating in the middle of a large empty page

[2022-08-09 22:11] leilenah opened #4194 "Sign up page UI Improvements"
### Blocked By
https://github.com/codalab/codalab-worksheets/issues/4193

Make the sign-up page UI match whatever we land on for the login page.

[2022-08-09 22:14] leilenah opened #4195 "Fix floating empty tooltip issue in bundle view sidebar"
![Image](https://user-images.githubusercontent.com/25855750/183771213-1c41520a-ac91-476c-8560-f2ed55479930.png)

[2022-08-10 05:40] percyliang opened #4196 "`search_bundles` is extremely slow"
Even uploading an empty file (via `cl upload`) takes 38 seconds.

-----

codalab.stanford.edu:

- Creating bundle (create an entry in DB): 0.19s
- Checking bundle location logic: 0.01s
- Sending data through (tiny file): 0.0s
- Reading the response: 21.11s
    - Upload to bundle store: 0.01s
     - [Update disk metadata](https://github.com/codalab/codalab-worksheets/blob/master/codalab/model/bundl

[2022-08-10 17:59] leilenah opened #4199 "Improve the experience of having to restart backend docker containers during development"
Having to restart the backend docker containers during dev can be cumbersome. Is there a workaround for this? If not, is there room to make the builds faster?

[2022-08-10 18:06] leilenah opened #4200 "Create a view that pulls the answers to the questions in the on-call template"
Each on-call team member must answer a series of questions posed in the [On-Call template](https://docs.google.com/document/d/1DPnKwfpoLedf42PN7DM1jNV9xqyw8Uho-xmvuHgRPnE/edit#heading=h.xy65heetpwqp). We should create a view in Codalab that pulls the answers to these questions programmatically.

[2022-08-10 19:26] wwwjn opened #4201 "Bypass server upload large file is slow because of generating index file"
According to #3370 and [test result](https://docs.google.com/document/d/1qFT6OWSUW5-2ZfnkK_q6P-Q-9sVe_fyBLX3UfEIWRiY/edit?pli=1#heading=h.nzsd7jt9zuoh), bypass server upload need a lot of time to calculate the index file.

[2022-08-10 19:51] pranavjain commented on #4200
Things to look at:

- Sentry
- Monitor Script

[2022-08-10 19:55] epicfaace commented on #4199
See https://github.com/codalab/codalab-worksheets/issues/1182

[2022-08-10 20:01] epicfaace commented on #4199
Watch: https://github.com/codalab/codalab-worksheets/blob/master/docker_config/compose_files/docker-compose.dev.yml

dockerfiles: https://github.com/codalab/codalab-worksheets/blob/master/docker_config/dockerfiles/Dockerfile.server and https://github.com/codalab/codalab-worksheets/blob/master/docker_config/dockerfiles/Dockerfile.worker

[2022-08-10 22:51] #4058 closed, assigned to leilenah

[2022-08-10 23:29] leilenah commented on #4192
### Meeting Notes
* The amount of time it took to run the bundle should be with the top-level fields even after the bundle is done running
* `Total Time` is not an accurate label for `time` -- need to think of better label

[2022-08-10 23:40] leilenah opened #4203 "Disable editing for certain fields once bundle reaches `starting` state"
### Implementation
- [x] Update get_editable_metadata_fields() to take state into consideration when determining if a field is editable
- [x] Determine what the web UI should show once fields are frozen
- [x] Allow metadata specs to be formatted
- [x] Get missing metadata descriptions somehow
- [x] Fix empty tags rendering for logged out user
- [x] Update the way we show 0 data size in bundle row

[2022-08-10 23:42] leilenah commented on #4203
### Meeting Notes
* it may be useful to create a Google doc to discuss the purpose of each field (Pranav suggestion)
* users should still be able to edit everything if a bundle is just `staged`
* this logic should potentially happen in the backend
* it should also apply to any `cl edit` commands
* need to determine if fields should be completely hidden once no longer editable (if there is no value

[2022-08-10 23:49] leilenah opened #4204 "Single-bundle view page auto-scrolls on load sometimes."
https://user-images.githubusercontent.com/25855750/184712961-d7966300-6c49-4044-8748-92d2a5242b20.mov

[2022-08-11 02:00] #4169 closed, assigned to leilenah

[2022-08-11 02:40] #4166 closed, assigned to leilenah

[2022-08-11 02:40] #4165 closed, assigned to leilenah

[2022-08-11 19:41] leilenah commented on #4180
### Notes
* Look into `Colorizer` class in `test_util.py`

[2022-08-12 14:00] #4182 closed, assigned to leilenah

[2022-08-12 17:54] leilenah commented on #4177
@pranavjain can you attach a screen recording plz?

[2022-08-12 17:58] leilenah commented on #4172
@pranavjain can you please provide more detail on the expected behavior?

[2022-08-12 18:00] leilenah commented on #4137
@teetone would you mind attaching the folder that you used if possible?

[2022-08-12 18:07] leilenah commented on #4173
related https://github.com/codalab/codalab-worksheets/issues/4174

[2022-08-12 18:12] leilenah commented on #4192
### Implementation
- [x] Re-name `Total Time` to something more appropriate
- [x] Determine which `time` field(s) merit being in the top-level view
- [x] Move relevant `time` to top-level
- [x] get rid of `MoreDetail` component
- [x] Confirm run bundles
- [x] Confirm uploaded bundles
- [x] Confirm make bundles
- [x] Confirm logged out user

[2022-08-12 20:54] leilenah opened #4206 "Update permissions in bundle detail sidebar when new permissions are selected"
Currently, the user has to refresh the page to see the updated permissions reflected.

[2022-08-12 23:57] percyliang commented on #4172
For example, if you type `cl work pliang-` and then hit tab, nothing happens.  It should produce a list of options if there are more than 1 or autocomplete if there is 1.

[2022-08-14 04:21] #4192 closed, assigned to leilenah

[2022-08-15 16:46] #4195 closed, assigned to leilenah

[2022-08-15 21:42] leilenah commented on #4204
### Investigation
* this appears to be an intentional browser feature (on Chrome at least)
* Chrome attempts to place the user where they left off on the page before they navigated away
* This isn't super helpful for the purpose of the bundle view page
    * It seems like it has the most benefit for pages like articles.
* my planned workaround is to create a page-level container that serves as a c

[2022-08-16 01:09] #4181 closed, assigned to leilenah

[2022-08-16 01:09] #4204 closed, assigned to leilenah

[2022-08-16 01:14] leilenah commented on #4177
Related https://github.com/codalab/codalab-worksheets/issues/4137

[2022-08-16 01:17] leilenah commented on #4185
This may not be worth doing after https://github.com/codalab/codalab-worksheets/issues/4203

[2022-08-16 01:45] #4191 closed, assigned to leilenah

[2022-08-16 19:36] #4189 closed, assigned to leilenah

[2022-08-16 21:20] leilenah commented on #4113
Related https://github.com/codalab/codalab-worksheets/issues/4186

[2022-08-17 19:27] leilenah opened #4215 "Simplify content loading logic in `MainContent` component"
On the frontend, we fetch bundle data on an interval. This is by design, as bundle info is constantly changing as the bundle moves through various states. However, once a bundle is in a final state, we should stop refetching its data as the data should not change at that point.

Once we do ☝ we can also get rid of the wonky `isLoading()` logic [here](https://github.com/codalab/codalab-worksheets/b

[2022-08-17 19:43] leilenah opened #4216 "Improve bundle view responsiveness"
### Implementation
- [x] Prevent horizontal scroll in `CodeSnippet`
- [x] Reduce `CodeSnippet` font size (potentially)
- [x] Improve bundle view responsiveness
- [x] QA

[2022-08-17 19:43] leilenah commented on #4216
Sample Bundle
https://worksheets.codalab.org/bundles/0xb9b23f28450c49e6bc11428bc818e6df

[2022-08-17 19:54] epicfaace opened #4217 "removing bundles on codalab.stanford.edu is extremely slow"

[2022-08-17 20:02] epicfaace commented on #4139
See https://github.com/codalab/codalab-worksheets/blob/master/codalab/server/bundle_manager.py#L378

[2022-08-17 20:19] epicfaace commented on #4139
See https://github.com/codalab/codalab-worksheets/blob/f377d24b16ebaba1b5c205dfa29ad8fc028970a3/codalab/server/bundle_manager.py#L556:
- for each filtering function, if the list is empty, then append a message to staged_status (i.e., cpus not sufficient)

Possible messages:
- No workers with the desired (tag, CPUs, GPUs, memory, disk space, availability) exist. You requested ("",5,5,0,0,1) but the

[2022-08-17 20:22] leilenah commented on #4186
### Meeting Notes
* This information should already be present in `run_status`
* The only reason it's not showing up is when using a cached image
* To test, use an uncached image

[2022-08-17 20:43] leilenah opened #4218 "Worksheet view should only scroll if there are bundle rows beneath the viewport"
https://user-images.githubusercontent.com/25855750/185239310-1b47934b-96af-4367-9a77-c68e0c769677.mov

[2022-08-17 20:44] leilenah commented on #4218
cc @percyliang

[2022-08-17 21:10] percyliang commented on #4216
Also on this page, it looks like the stdout/stderr is too big so there's undesired horizontal scrolling.  I think we can reduce the font size on failure message, command, stdout, stderr.

[2022-08-18 04:00] hhexiy opened #4219 "[USER ISSUE] Bad request when creating bundles through REST API"
**Describe the bug**
We have been using codalab worksheets to host a competition. Specifically, we adapted the competitiond.py script and it has been running smoothly. However, this week I can no longer run it to evaluate new submissions and it throws an HTTPError when creating bundles for the submission.

Specifically, when it opens the following url
`https://worksheets.codalab.org/rest/bundles?w

[2022-08-18 22:23] leilenah opened #4223 "Allow users to bulk-select all bundles in a table in worksheet view"
I often want to select a bunch of bundles at once so I can delete them all. We should add an option for users to select all bundles in a worksheet.

[2022-08-18 22:24] leilenah commented on #4223
@percyliang please let me know if you foresee an issue with this

[2022-08-18 22:26] leilenah opened #4224 "Investigate UsageError: Invalid spec: "localhost::""
### Steps to reproduce
1. Pull the latest `codalab-worksheets`
2. Run `pip install codalab`
3. Run `cl work localhost::`
4. Observe `UsageError: Invalid spec: "localhost::"`

[2022-08-18 22:29] leilenah commented on #4224
This could be specific to my machine...

[2022-08-18 23:52] percyliang commented on #4223
One could also allow users to select all the bundles in a table?  I think this a reasonable feature.

[2022-08-19 00:34] leilenah opened #4226 "Fix stress testing via GitHub Actions"
The deployment documentation says "NOTE: Stress tests on GitHub Actions are currently broken. To run stress tests, go to the "Manually stress testing" section to see how the tests are triggered."

The scope of this issue is to look into what it would take to fix stress testing w/ GitHub Actions.

[2022-08-19 00:36] leilenah commented on #4226
@epicfaace do you have context around this?

[2022-08-19 00:42] epicfaace commented on #4226
Currently, running stress tests from GitHub actions is broken.

Note that here

https://codalab.org/deployment/deployment/deployment-process/#3-run-stress-tests

we say

<img width="747" alt="image" src="https://user-images.githubusercontent.com/1689183/185518403-44a4e401-4da8-4e37-bb02-93bda4d262f4.png">

[2022-08-19 00:59] leilenah commented on #4226
@epicfaace I meant do you have context around why they are broken. Seems like they were a thing at one point.

[2022-08-19 01:54] #4113 closed, assigned to leilenah

[2022-08-19 01:54] #4186 closed, assigned to leilenah

[2022-08-19 02:03] leilenah commented on #4219
@hhexiy heads up, I'm currently investigating this, so you may see me poking around / creating bundles in your worksheet. I will clean up when I'm done.

In the meantime, are you able to add your specific steps to repro the bug under the `To Reproduce` section of this issue?

[2022-08-19 02:17] hhexiy commented on #4219
I have updated the 'reproduce' steps. Thanks!

The competitiond.py is adapted from the one under `script`.

[2022-08-19 14:32] epicfaace commented on #4226
Not sure, I think they just time out now / run out of memory? You can try running stress tests yourself on github actions and then checking the logs?

[2022-08-19 20:05] leilenah commented on #4219
@hhexiy this is the output that I see when I try to repro your issue:

![image](https://user-images.githubusercontent.com/25855750/185698422-da4a4aa4-c8bd-4c15-a10f-6bc17cc5bad5.png)

What version of python are you using? Can you switch to **Python 3.7.13** and try again?

[2022-08-22 06:07] leilenah commented on #4219
@hhexiy following up -- please let me know if bumping your Python version made a difference.

[2022-08-22 20:50] leilenah opened #4228 "[USER ISSUE] Unable to fetch data for worksheet that exists in the database"
**Describe the bug**

**Note:** the user reported this issue to Percy via email.

Codalab is unable to load this worksheet: https://worksheets.codalab.org/worksheets/0x269ef752f8c344a28383240f7bb2be9c

However the worksheet is present in the user's worksheet list: https://worksheets.codalab.org/users/yushiw

It is also present in the prod database.
![image](https://user-images.githubusercontent.co

[2022-08-22 20:51] leilenah commented on #4228
### Investigation
- It appears that the issue occurs when we try to fetch data for `program` bundles.

[2022-08-22 22:59] leilenah opened #4230 "Make `remote` field copyable in bundle detail sidebar"

[2022-08-22 23:05] leilenah opened #4231 "Show an error to the user if bundle name is invalid"
Currently we don't show the user anything in this scenario. In the network request we see:

![Image](https://user-images.githubusercontent.com/25855750/186033870-4dffd6b1-3e17-4823-9419-3fc4f3292a98.png)

[2022-08-24 02:28] leilenah commented on #4219
Closing this out, as it appears that the user is able to run their competition script now.

@hhexiy please reach out if you run into further issues :)

[2022-08-24 02:28] #4219 closed, assigned to leilenah

[2022-08-24 17:48] #4230 closed, assigned to leilenah

[2022-08-24 19:36] pranavjain commented on #4074
Blocked by #4201

[2022-08-24 19:38] epicfaace commented on #4201
Ashwin made a POC here: https://github.com/codalab/codalab-worksheets/pull/4212

But we depend on fixing https://github.com/pauldmccarthy/indexed_gzip/issues/102 and https://github.com/mxmlnkn/ratarmount/issues/95 before it can work.

[2022-08-24 19:39] pranavjain commented on #4149
Jiani will deploy to dev env. today and run the test.

[2022-08-24 19:42] pranavjain commented on #4084
Code cleaning is in progress before the final review.

[2022-08-24 19:43] pranavjain commented on #3975
ToDo: Code Cleanup by Ashwin

[2022-08-24 19:55] epicfaace opened #4234 "Unify logic for disk and blob size / hash computation"
Unify logic for disk and blob size / hash computation for bundles. Currently, we use:
- specific logic for disk that recursively looks at files in a directory -- https://github.com/codalab/codalab-worksheets/blob/master/codalab/model/bundle_model.py#L1097
- other logic for blob

We should make this logic simpler / more efficient and potentially try to unify both code paths.

[2022-08-24 20:33] leilenah opened #4235 "[Migration] Convert `program` bundles to `dataset` bundles"
### Overview
`program` bundles were deprecated a while back. A program bundle is a bundle with **bundle_type** `program`. However, there are some lingering `program` bundles in the prod database. We should run a migration to convert these bundles to `dataset` bundles.

### Tasks
- [ ] Run a migration to convert bundles with `program` **bundle_type** to have a `dataset` **bundle_type**.
- [ ] Remov

[2022-08-24 22:30] teetone commented on #4110
The same underlying issue as https://github.com/codalab/codalab-worksheets/issues/4196. Searching bundles + metadata is really slow.

[2022-08-24 22:30] epicfaace commented on #4196
We need to change it to use joins instead of subqueries.

[code]

This will drastically speed things up. This will also fix https://github.com/codalab/codalab-worksheets/issues/3787

[2022-08-24 22:34] epicfaace commented on #4196
Other notes about the size of the bundle / bundle metadata tables -- note that stanford has much larger tables:

[code]

[2022-08-24 22:46] #4110 closed, assigned to teetone

[2022-08-25 00:40] percyliang commented on #4196
This is helpful!  One thing that was discussed a few years ago is to remove bundle_metadata and just add the fields as columns inside bundle.  This was not done in the past because we thought there might be a huge amount of metadata we didn't want to load, but I think this really hasn't been the case.  This would make many of our queries more direct.

[2022-08-25 07:09] #4228 closed, assigned to leilenah

[2022-08-25 12:47] epicfaace commented on #4196
I think that would certainly be the best way to go long-term, but it might be a pretty involved migration -- so the easiest optimization for now would be to use joins instead of subqueries (as it seems it might get us all the way there to stop these queries from timing out).

[2022-08-26 03:07] entslscheia opened #4238 "[USER ISSUE] HTTP error when running cl-competitiond"
**Describe the bug**
Hi,

We have host our [GrailQA competition](https://dki-lab.github.io/GrailQA/) on CodaLab for a while, and everything looked fine. However, recently when I tried to run the command `cl-competitiond -v config.yml output.json` to evaluate new submissions as usual, it reported the following error message:

[code]
I don't think I have made any changes to the config file `config.y

[2022-08-26 03:08] entslscheia commented on #4238
**Additional Info:**
Previously I was using `CodaLab 0.5.27`. I thought it might be some outdated version issue, so I updated it to the latest version, but the problem remains.

I managed to hack into the code and found the http request that caused the error:
[code]
This is the url used in the statement `with closing(urllib.request.urlopen(request, timeout=timeout_seconds)) as response:`.
I masked

[2022-08-29 21:18] leilenah opened #4240 "Show an error if the user doesn't have permission to view a bundle"
**Note from @percyliang:**
- Bundle that user doesn't have access to should show an error message, but I get a blank page: https://worksheets.codalab.org/bundles/0xe763ab130ea3497195bc59d43a4e1027

[2022-08-30 04:10] #4240 closed, assigned to leilenah

[2022-08-30 21:44] leilenah commented on #4139
Sample `worker_list`
[code]

[2022-08-31 19:43] pranavjain commented on #4149
@wwwjn to share the PR with Ashwin for review.

[2022-08-31 19:46] epicfaace commented on #4234
Other question: should data_size be compressed or uncompressed size?

[2022-08-31 20:58] leilenah commented on #4139
### Meeting Notes
- it's important that the user sees the full context of which resources aren't available
- the resource list is subject to grow over time
- it may be useful to create a class that encapsulates the resources
- we should only present the user the fields that they have violated when showing them worker recommendations.

[2022-09-02 19:05] #4218 closed, assigned to leilenah

[2022-09-02 19:17] vaibhavad opened #4245 "Bundles with --link are not compatible with running your own worker"
**Describe the bug**
Linked bundles on my own worker that are accessible via worker's file system are not picked up by `cl-worker`.

**Codalab Information**
- *Your username*: vaibhav.adlakha
- *UUID of worksheet where problem occurred*: 0x30a7d1367e994e338a1c989c58c7aa1e
- *UUID of problem bundle (please don't delete)*: 0x7d487caab9e74204afe36c7e58f0347f, 0x097c7fe6d0a644438402199b9f95666c
- *Err

[2022-09-02 20:21] #4215 closed, assigned to leilenah

[2022-09-02 22:45] leilenah commented on #4139
### Refactors
- [x] Create `Resource` dataclass (see Percy notes below)
- [x] Handle request_queue logic as part of resources
    * Need to update in two places
- [x] Don't need to copy workers_list; better to make the subsequent logic immutable.
- [x] Remove defensive check from `_set_staged_status` OR add `staged_status` to make bundle metadata
    * confirm that this function is only ever calle

[2022-09-07 02:28] epicfaace commented on #4201
Ashwin: get https://github.com/pauldmccarthy/indexed_gzip/pull/103 to work, Ashwin will also publish a fork of indexed_gzip (`indexed_gzip_fileobj_fork_epicfaace`)

Jiani: fixing up https://github.com/codalab/codalab-worksheets/pull/4212. Maybe try reverting to the simpler `peek` solution in https://github.com/codalab/codalab-worksheets/pull/4212/commits/ac5ed66cc35654537bfa2ae5b9bdfb8307f4409c. O

[2022-09-07 19:30] wwwjn commented on #3933
Now we can see the file name for uploading files.

![Image](https://user-images.githubusercontent.com/40016222/188961500-44642ae4-c330-494b-9985-c2e5c99041ef.png)

![Image](https://user-images.githubusercontent.com/40016222/188961410-109545b9-359c-421e-8a16-678437794ff7.png)

[2022-09-07 19:44] pranavjain commented on #3975
#4214 is ready for review (ToDo: @wwwjn )
#4090 Still pending code clean up.

[2022-09-08 01:02] #4139 closed, assigned to leilenah

[2022-09-08 19:51] #4173 closed, assigned to leilenah

[2022-09-08 20:36] leilenah commented on #4193
Related: https://github.com/codalab/codalab-worksheets/issues/4188

[2022-09-08 20:43] #4137 closed, assigned to leilenah

[2022-09-08 20:43] #4177 closed, assigned to leilenah

[2022-09-09 18:45] #4206 closed, assigned to leilenah

[2022-09-09 19:26] #4174 closed, assigned to leilenah

[2022-09-09 20:15] leilenah commented on #4185
Closing. Not worth it since we're going to be locking most of the editable fields after bundles reach a certain state https://github.com/codalab/codalab-worksheets/issues/4203

[2022-09-09 20:15] #4185 closed, assigned to leilenah

[2022-09-12 23:23] leilenah commented on #4176
### Investigation

**Worksheet:** https://codalab.stanford.edu/worksheets/0x9e16b0fe372c4b49bcf2004a4c020da0

**Repro:**

https://user-images.githubusercontent.com/25855750/189775113-84186f76-26d0-4971-bd8e-00bf6012a9c0.mp4

**Notes:**
- Looks like this happens during `executeCommand()`
- once the bundle is deleted, the worksheet is reloaded correctly
- potential fix is to ensure that worksheet st

[2022-09-14 17:47] #4176 closed, assigned to leilenah

[2022-09-14 18:16] #4231 closed, assigned to leilenah

[2022-09-14 18:28] leilenah commented on #4203
### Refactors
- [x] Revert `0` checks for data size
- [x] Revert metadata util change
- [x] Remove metadata util  unittest
- [x] Revert changes to bundle object files (commit)
- [x] Format object files (commit)
- [x] add `lock_after_start` back to metadata (commit)
- [x] Refactor the way we get metadata definitions
- [x] Refactor frontend formatting helper
- [x] Add type annotations https://docs.p

[2022-09-15 16:31] #4203 closed, assigned to leilenah

[2022-09-18 04:53] kokiljaidka opened #4259 "Can't access the data"
Hello, the link to a data/worksheet (https://worksheets.codalab.org/worksheets/0x453913e76b65495d8b9730d41c7e0a0c/) doesnt seem to be working, could someone help? It appears to be a problem at this end. thanks!

[2022-09-22 19:47] epicfaace commented on #4245
Unfortunately, `--link` only works for paths that are accessible by the CodaLab server. So you can't use a path that is only accessible by the worker.

[2022-09-23 16:21] vaibhavad commented on #4245
Thanks a lot for the clarification!

[2022-09-23 16:21] #4245 closed, assigned to nobody

[2022-09-28 20:48] #4216 closed, assigned to leilenah

[2022-09-30 21:37] teetone commented on #4196
Synced with @AndrewJGaut and @yifanmai on this issue. Andrew will look into converting subqueries to joins.

[2022-10-01 14:23] percyliang opened #4261 "get slurm worker manager working"
sc was just upgraded and requires the `--account` flag.

[2022-10-01 15:45] percyliang opened #4262 "provide download link for bundles"
![image](https://user-images.githubusercontent.com/435384/193417251-25387626-1220-487c-9093-fd168de14b66.png)
Right now you can click on a button to download a bundle, but it would be nice to be able to get the download link (right click, get link doesn't work) so that people can download programmatically.  We should make sure this works when we switch over to Azure blob storage, bypassing server,

[2022-10-01 21:49] teetone opened #4263 "Add optional arg `--account` for `SlurmBatchWorkerManager`"
Add arg and handle here: https://github.com/codalab/codalab-worksheets/blob/master/codalab/worker_manager/slurm_batch_worker_manager.py#L413

From Action:

[code]

[2022-10-02 03:33] Soonhwan-Kwon opened #4264 "[USER ISSUE] abusive peer2profit-one-click-command-installations are all over the running/staged jobs"
**Describe the bug**
It seems there are abusive peer2profit-one-click-command-installations, and they are all over the running/staged jobs
and they prevents normal jobs to run.
https://github.com/spiritLHLS/peer2profit-one-click-command-installation

**Screenshots**
![abuse1](https://user-images.githubusercontent.com/7395166/193436662-6a3ffb9d-a30c-42b0-9889-4418fd19d9c0.PNG)
![abuse2](https://use

[2022-10-03 06:33] wwwjn commented on #4074
09/30 Group meeting update: First test this branch on dev environment, benchmarking upload to GCS, then get it merged to master

[2022-10-03 18:02] #4074 closed, assigned to wwwjn

[2022-10-04 03:28] leilenah commented on #4262
@percyliang will do 👍

[2022-10-04 04:20] wwwjn opened #4265 "Benchmarking GCS blob storage upload tests"
Similar to #4154, GCS bypass server upload has been merged into

Will test upload from local PC -> dev environment.

Test cases:
1. small files
2. multi-layer directories and large amount of small files (eg, cpython)
3. large files (eg, openwebtext)

[2022-10-05 01:57] leilenah commented on #4259
resolved via email

[2022-10-05 01:57] #4259 closed, assigned to nobody

[2022-10-05 17:06] epicfaace commented on #4264
Thanks, we'll look into it.

[2022-10-05 17:13] #4180 closed, assigned to leilenah

[2022-10-05 17:22] percyliang commented on #4140
Check if switching to kubernetes will fix this (cc @epicfaace )

[2022-10-05 17:24] percyliang commented on #4265
Do this on Stanford too.

[2022-10-05 17:34] percyliang commented on #4261
In general, make sure that you can just run `nlp-cl-worker-manager nlp` and have run jobs and have them finish in a timely manner.

[2022-10-05 17:39] percyliang opened #4269 "make it possible for users to pip install codalab without errors"

[2022-10-05 17:44] percyliang commented on #4092
Waiting for Kubernetes.

[2022-10-05 17:52] #4001 closed, assigned to nobody

[2022-10-05 17:53] percyliang commented on #3948
Seems to be working.

[2022-10-05 17:53] #3948 closed, assigned to teetone

[2022-10-05 17:53] #3837 closed, assigned to jzwang43

[2022-10-05 17:55] percyliang commented on #3577
Already fixed.

[2022-10-05 17:55] #3577 closed, assigned to teetone

[2022-10-05 17:55] percyliang commented on #3245
Do we want to proceed with this or close it?

[2022-10-05 18:02] percyliang opened #4271 "check the time quota while jobs are running"
Prevent people from launching a ton of jobs in parallel and using more than their allotted time quota.

[2022-10-06 16:27] kohpangwei opened #4272 "[USER ISSUE] Certificate error"
**Describe the bug**

Encountered
[code]
when trying to wget a file from a bundle.

**To Reproduce**
Run:
[code]
The output is
[code]

Using `--no-check-certificate` as suggested in the error message works.

[2022-10-07 16:24] epicfaace commented on #4272
Hmm, it's working for me...

[code]

Are you still facing this issue?

[2022-10-07 16:36] kohpangwei commented on #4272
Yup,

[code]

[2022-10-07 17:08] AndrewJGaut opened #4274 "Upload failed: Invalid archive upload: failed to unzip .zip file."
Suspicious failed run here: https://worksheets.codalab.org/bundles/0x3fa1c403b8e747d4aa9e3366149139e4

We should explore more.

[2022-10-07 23:47] wwwjn opened #4276 "Speedup uploading to Azure: using thread pool to parallel `Put()` operation"
Upload to Azure now is serializing uploading.  Need to upload in parallel, with correct block_id specified.

Code Pointer: https://github.com/codalab/codalab-worksheets/blob/c9987cd0f3946b0a07b07425feb27acf0d403861/codalab/lib/beam/blobstorageuploader.py#L45

[2022-10-09 20:52] epicfaace commented on #4272
Can you try to go to worksheets.codalab.org on Chrome and see if you get an SSL error? Also, could you try the steps in https://serverfault.com/a/749381 to get the certificate info and then send it over?

[2022-10-09 21:01] kohpangwei commented on #4272
I don't get an SSL error there. Could you give me the exact command you'd like me to run?

[2022-10-09 21:26] epicfaace commented on #4272
[code]

[2022-10-09 21:29] kohpangwei commented on #4272
I tried that command but it gives me no output.

On Sun, Oct 9, 2022 at 2:26 PM Ashwin Ramaswami ***@***.***>
wrote:

[2022-10-10 21:16] #3523 closed, assigned to AndrewJGaut

[2022-10-10 22:04] #3747 closed, assigned to AndrewJGaut

[2022-10-11 01:50] MN-Guan opened #4278 "[USER ISSUE] The "Sign Up" button cannot be clicked"
I cannot register a new account on the codalab worksheets registration page. After I have filled in all the forms correctly, the registration button is still grayed out. This problem also appeared in #3698, but it has not been resolved. I didn't see the "CAPTCHA" human-computer verification button on the registration page.

I used Firefox, and the problem also occurred. I am anxious to use codalab

[2022-10-11 07:12] epicfaace commented on #2736
Hmm, not sure. Is your user root or is it part of the docker group?

--
Ashwin Ramaswami

On Wed, Mar 9, 2022 at 10:17 AM JiexingQi ***@***.***> wrote:

[2022-10-11 08:36] epicfaace commented on #4054
I don't think you can create directories at "/app". You should try to
create files within your working directory ("mkdir app"), does that work?

--
Ashwin Ramaswami

On Sat, Mar 26, 2022 at 9:56 PM JiexingQi ***@***.***> wrote:

[2022-10-12 02:31] leilenah commented on #4172
@percyliang did this used to work before, but then it broke? Or is this a completely new feature?

[2022-10-12 02:39] percyliang commented on #4172
It used to work (though perhaps not fully) a long time ago.

[2022-10-12 07:27] #4149 closed, assigned to wwwjn

[2022-10-12 15:38] epicfaace commented on #4272
Going to test this on CI https://github.com/epicfaace/test-repro/pull/9

[2022-10-12 15:44] epicfaace commented on #4272
@kohpangwei it works on CI (https://github.com/epicfaace/test-repro/actions/runs/3235996146/jobs/5301186213), so I think it might be something to do with your environment / network connection.

[2022-10-12 15:50] #4262 closed, assigned to leilenah

[2022-10-12 17:08] yifanmai commented on #3698
There is a [flag in recaptcha options](https://www.npmjs.com/package/react-google-recaptcha#global-properties-used-by-recaptcha) that would load it from a China-friendly URL. I can try making the change and seeing if it works.

[2022-10-12 17:14] wwwjn commented on #4265
<img width="684" alt="image" src="https://user-images.githubusercontent.com/40016222/195406425-ca681142-cd35-408a-83d9-bbe1eda87bf7.png">

[2022-10-12 17:14] #4265 closed, assigned to wwwjn

[2022-10-12 17:14] #4269 closed, assigned to AndrewJGaut

[2022-10-12 17:16] leilenah commented on #4084
@AndrewJGaut look @ Ashwin's PR for this. May be helpful.

[2022-10-12 17:30] yifanmai commented on #4199
Will take a look. This might just require changing the server file watch settings and docker folder mount settings.

[2022-10-12 19:52] kohpangwei commented on #4272
Yeah, I tried it on my laptop and it works, but it still doesn't work on my desktop (same error).

[2022-10-12 22:40] yifanmai commented on #4272
Could you try `openssl s_client -connect worksheets.codalab.org:443 </dev/null 2>/dev/null | openssl x509 -inform pem -text` and see if it gives you something different on your laptop vs desktop? In particular, this part:

[code]

Are both machines running Linux?

[2022-10-13 21:14] kohpangwei commented on #4272
Hello Yifan!

Both are running WSL on Windows.

Desktop

[code]

[2022-10-13 21:15] kohpangwei commented on #4272
and laptop:
[code]

[2022-10-14 03:46] yifanmai commented on #4272
Hello! :)

I suspect that this is related to the [Let's Encrypt root certificate expiration](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/). What's the output of `openssl version`? If you run `wget https://valid-isrgrootx1.letsencrypt.org/`, does it give you the same error?

[2022-10-14 03:51] kohpangwei commented on #4272
Ah sorry, I'm traveling to SG now and won't have access to my desktop for the next couple of weeks. I'll get back to you on this once I'm back!

[2022-10-14 04:14] yifanmai commented on #4272
Sounds good!

[2022-10-15 21:12] #4196 closed, assigned to AndrewJGaut

[2022-10-17 22:50] wwwjn commented on #3998
Update on Oct. 17, 2022:

Test: **Upload from my local PC -> GCS, openwebtext dataset (38GB)**

![Image](https://user-images.githubusercontent.com/40016222/196297658-ff045229-8daf-4317-b98b-208ec10a9af4.png)

Since we are using bypass server uploading for GCS now, the upload process take quite long time because of generating index. If we [change the signed token expire time](https://github.com/cod

[2022-10-17 22:50] #3998 closed, assigned to wwwjn

[2022-10-17 22:55] wwwjn commented on #4201
POC to fix this problem is here: [Using peek() instead of read() in SQLiteIndexedTar for gz files](https://github.com/codalab/codalab-worksheets/pull/4212/commits/ac5ed66cc35654537bfa2ae5b9bdfb8307f4409c#diff-ad5ad76eb55b6437b2e1aa24b324c6d11d176be1926ebea1950a006bfce4efbe)

However, the current Indexed_gzip implementation will not call peek(), instead it calls read(). Simple script to reproduce t

[2022-10-18 22:29] wwwjn commented on #3675
Run test for
1. Blob storage (Azure), Upload ImageNet, from NLP machine to Dev environment.
 - Got password prompt every ~1h, which will make the upload failed.
 - ![Image](https://user-images.githubusercontent.com/40016222/196757111-dc0f7053-c8af-4125-a82a-e1cef41fb4e6.png)
 - Have a separate issue for this

2. Disk storage, Upload ImageNet, from NLP machine to Dev environment.
 - ![Image](https:

[2022-10-19 13:40] MN-Guan commented on #4278
Thanks for Yifan Mai's concern. I have solved this problem through [this website](https://blog.azurezeng.com/recaptcha-use-in-china/).

[2022-10-19 17:05] wwwjn commented on #4201
There still some bugs in indexed_gzip, which blocks this issue: https://github.com/pauldmccarthy/indexed_gzip/pull/106

[2022-10-19 17:19] percyliang opened #4285 "make sure that users don't exceed disk quota with parallel uploads"
Ideally, let people know that they don't have enough quota.
Subtlety: compressed versus uncompressed.

[2022-10-19 17:21] percyliang commented on #4285
Sync with @wwwjn

[2022-10-24 04:58] wwwjn opened #4286 "Upload blobs to Azure storage in parallel"
Upload blobs to azure storage has 2 steps:
1. write/put blob
2. commit blob

We can do first step (write/put) in parallel to reduce the total upload time.

[2022-10-26 05:36] leilenah commented on #4172
Reference: https://github.com/codalab/codalab-worksheets/blob/master/codalab/lib/completers.py

[2022-10-26 07:49] wwwjn commented on #3675
Upload to disk storage works well for large files. Close this issue if not happen again.

[2022-10-26 08:39] wwwjn commented on #4265
New benchmarking file: https://docs.google.com/document/d/1dj-xxO_zdXNcGKzn9L97nNIaOwjNSeqr0RevQMPJdhA/edit#

[2022-10-26 08:40] wwwjn commented on #4201
Update: Related issue for indexed_gizp github repo: https://github.com/pauldmccarthy/indexed_gzip/issues/107

[2022-10-26 17:11] #4223 closed, assigned to leilenah

[2022-10-26 17:39] percyliang opened #4292 "move Azure workers to use kubernetes"

[2022-10-26 17:51] leilenah commented on #4172
**Meeting Notes**
- allow this for all commands, not just `cl work`

[2022-10-26 18:23] leilenah opened #4293 "Allow users to ⭐ worksheets"
**High-Level UI**
* We allow users to ⭐ worksheets (this will allow them to access the worksheets more quickly. Same idea as "pinning" something)
* Somewhere in the worksheet view, we display how many users have ⭐ 'ed the worksheet (just the count, not the user names)
* Somewhere in the user profile, we display how many ⭐ 's the user has (which maps to how many people have starred their worksheets

[2022-10-26 18:26] leilenah opened #4294 "Optimize User Profile View"
**User Profile View:** https://worksheets.codalab.org/users/codalab

The scope of this issue is to audit the user profile view and determine what can be done to improve its UI. Present any major changes to Percy before implementing.

[2022-10-26 18:26] leilenah commented on #4294
Related: https://github.com/codalab/codalab-worksheets/issues/4293

[2022-10-26 18:27] leilenah commented on #4294
**Meeting Notes**
- Consider ORCID: https://orcid.org/
- should tie into whatever we implement for user incentives

[2022-10-26 18:28] leilenah commented on #4293
cc @percyliang

[2022-10-26 18:28] leilenah commented on #4294
cc @percyliang

[2022-10-26 18:49] wwwjn opened #4295 "Guard against miners"
**Describe the bug**
A lot of miners are using CodaLab mining crypto. They register new accounts to run the mining jobs.

**Temporary fix**
1. Manually limit current malicious users: change their quota limit to 100M. 1h.
2. Make forms for both time and disk quota; make it obvious this is how you get more. When show the error message (out of quota), link to the tutorial (https://codalab-worksheets.

[2022-10-29 23:39] leilenah commented on #4172
**Dev Notes:**
* Marking as blocked for now, need to discuss the findings below with team
* Worrisome comment from 4 years ago: https://github.com/codalab/codalab-worksheets/blob/master/codalab/lib/completers.py#L132-L135
* Old issue that was closed: https://github.com/codalab/codalab-worksheets/issues/223

[2022-10-29 23:45] leilenah commented on #4293
Notes from Percy:
* It'd be nice to fix up the gallery view to show highly-starred worksheets
* The other thing is to figure out how to encourage people to produce worksheets that are worth starring
* many worksheets are just a list of bundles that people have run, not really well-documented
* So how do we encourage people to add more information along those lines

[2022-10-31 00:03] wwwjn commented on #4286
Test result:
**TLDR: After using parallel, we can reduce the waiting time when some block is being committed.**

In PR #4275, we minimize the size of MIN_WRITE_SIZE and MAX_WRITE_SIZE. This means when uploading a file, we need more put() operations and more commit() operations, which slow down the uploading process. So we need to parallel uploading process to speed up.

Measure the actual upload t

[2022-10-31 00:12] wwwjn commented on #4276
close this because of duplication of #4286

[2022-10-31 00:12] #4276 closed, assigned to wwwjn

[2022-10-31 21:42] AndrewJGaut opened #4298 "check the disk quota while jobs are running"
As a counterpart to issue #4271, we also want to check user disk quota while jobs are running rather than checking only after the job has finished

[2022-11-02 00:04] wwwjn commented on #4295
After deploy v1.5.11 to dev environment, I created a new account to test. The new created account has 100m disk quota and 1h time quota.
<img width="795" alt="image" src="https://user-images.githubusercontent.com/40016222/199364332-493415c5-94b4-47f3-988d-8cf68c2cd3ae.png">

[2022-11-02 16:42] #1182 closed, assigned to bkgoksel

[2022-11-02 16:42] #4199 closed, assigned to yifanmai

[2022-11-02 17:16] #4286 closed, assigned to wwwjn

[2022-11-02 17:23] leilenah commented on #4226
cc @yifanmai

[2022-11-02 17:23] #4271 closed, assigned to AndrewJGaut

[2022-11-02 17:41] leilenah commented on #4172
Setting this to p3 for now, and removing from fall goals.

Per this older issue https://github.com/codalab/codalab-worksheets/issues/223https://github.com/codalab/codalab-worksheets/issues/223

It appears that a custom autocomplete solution may be required.

[2022-11-02 22:58] #4278 closed, assigned to yifanmai

[2022-11-03 23:06] leilenah opened #4300 "Optimize Worksheet View"
## Implementation

- [x] Update worksheet view on dropdown
    - Bundle details should be expanded
- [x] Hide scroll down button when bundle is open
- [x] Back button
- [x] Disable header buttons when bundle is open
- [x] Fix Edit Source view
- [x] Fix Expand Shrink
- [x] Replace dropdown button with open button
- [x] Remove hover state from tables
    - only rows should have hover state
- [x] Upd

[2022-11-03 23:37] leilenah opened #4301 "Add link to bundle owner user profile in bundle view"
![Image](https://user-images.githubusercontent.com/25855750/199854896-eda0f773-230d-45aa-9b75-c8e5fd67cb09.png)

As a user, I expect to be able to click a bundle owner's name in the bundle view and be taken to their user profile.

[2022-11-04 00:05] leilenah commented on #4300
**Meeting Notes**
- when you open up a bundle view, it's jumpy and a bit jarring
- is there a way to reduce the jumpiness?
- when you do a new run, the dropdown may be confusing
- potentially get rid of the bundle view dropdown and show bundle in place
- look to gmail for inspiration
- user should still maintain the option top open in new window
- think through how to show the new run view
- maybe

[2022-11-04 01:23] kohpangwei commented on #4272
Here you go! I don't get the same error with that wget (and I still do get the error with the original wget command).

[code]

[code]

[2022-11-04 06:40] leilenah commented on #3595
@percyliang @epicfaace do either of you know if this is still a thing? If so, can you provide a screen recording please? I don't fully understand what the bug is.

[2022-11-04 06:41] leilenah commented on #3582
Resolved

![image](https://user-images.githubusercontent.com/25855750/199908405-1471c2ce-b171-468b-aced-d62e430aa1cc.png)

[2022-11-04 06:41] #3582 closed, assigned to nobody

[2022-11-04 06:43] leilenah commented on #4300
Related Issue: https://github.com/codalab/codalab-worksheets/issues/3575

[2022-11-04 06:43] leilenah commented on #3506
resolved

[2022-11-04 06:43] #3506 closed, assigned to nobody

[2022-11-04 06:44] leilenah commented on #3471
Duplicate
https://github.com/codalab/codalab-worksheets/issues/4193
https://github.com/codalab/codalab-worksheets/issues/4194

[2022-11-04 06:44] #3471 closed, assigned to nobody

[2022-11-04 06:44] leilenah commented on #3394
resolved

[2022-11-04 06:44] #3394 closed, assigned to nobody

[2022-11-04 06:47] leilenah commented on #2749
@epicfaace can I close this?

[2022-11-04 06:48] leilenah commented on #2654
resolved

[2022-11-04 06:48] #2654 closed, assigned to nobody

[2022-11-04 06:52] #2272 closed, assigned to nobody

[2022-11-04 07:03] #2098 closed, assigned to nobody

[2022-11-04 07:06] percyliang commented on #3595
Maybe this will not be an issue if we make the schema editor modal.

[2022-11-04 07:06] leilenah commented on #2083
unable to repro

[2022-11-04 07:06] #2083 closed, assigned to nobody

[2022-11-04 07:10] leilenah commented on #2073
Closing for now. Plz leverage the HTML `data` attribute for selenium tests when necessary https://www.w3schools.com/tags/att_data-.asp

[2022-11-04 07:10] #2073 closed, assigned to nobody

[2022-11-04 07:11] leilenah commented on #2022
closing per Percy's last comment

[2022-11-04 07:11] #2022 closed, assigned to nobody

[2022-11-04 07:11] leilenah commented on #1922
fixed

[2022-11-04 07:11] #1922 closed, assigned to nobody

[2022-11-04 07:13] leilenah commented on #1845
Mobile view has been improved. At least for the bundle view.

Mobile could still use a lot of work but roughly 0 people use codalab on mobile so this is not a priority.

[2022-11-04 07:13] #1845 closed, assigned to nobody

[2022-11-04 07:15] leilenah commented on #1794
Not seeing this on my end. May have been fixed somewhere along the way.

[2022-11-04 07:15] #1794 closed, assigned to nobody

[2022-11-04 07:17] leilenah commented on #1766
removed this (I believe)

[2022-11-04 07:17] #1766 closed, assigned to nobody

[2022-11-04 07:17] leilenah commented on #1751
fixed

[2022-11-04 07:17] #1751 closed, assigned to nobody

[2022-11-04 07:20] #1657 closed, assigned to nobody

[2022-11-04 07:20] leilenah commented on #1235
state is colorized

[2022-11-04 07:21] leilenah commented on #1174
fixed

[2022-11-04 07:21] #1174 closed, assigned to nobody

[2022-11-04 07:22] leilenah commented on #1121
@percyliang is this something that codalab users would benefit from?

[2022-11-04 07:24] #1066 closed, assigned to nobody

[2022-11-04 07:25] #1057 closed, assigned to nobody

[2022-11-04 07:27] leilenah commented on #1053
@percyliang is this something you want?

[2022-11-04 07:34] leilenah commented on #3883
Moving towards MUI for all new features.

[2022-11-04 07:34] #3883 closed, assigned to nobody

[2022-11-04 07:34] leilenah commented on #3839
fixed

[2022-11-04 07:34] #3839 closed, assigned to nobody

[2022-11-04 07:37] leilenah commented on #3746
fixed

[2022-11-04 07:37] #3746 closed, assigned to nobody

[2022-11-04 07:38] leilenah commented on #3632
fixed

[2022-11-04 07:38] #3632 closed, assigned to nobody

[2022-11-04 07:38] #3623 closed, assigned to nobody

[2022-11-04 07:39] #3597 closed, assigned to nobody

[2022-11-04 07:40] #2749 closed, assigned to nobody

[2022-11-04 07:41] leilenah commented on #2749
closing for now but @epicfaace re-open if you feel strongly

[2022-11-04 07:43] leilenah commented on #1166
fixed

[2022-11-04 07:43] #1166 closed, assigned to nobody

[2022-11-04 07:44] #1088 closed, assigned to nobody

[2022-11-04 07:44] leilenah commented on #1087
tooltips added

[2022-11-04 07:44] #1087 closed, assigned to nobody

[2022-11-04 07:44] #1082 closed, assigned to nobody

[2022-11-04 07:46] leilenah commented on #1070
done

[2022-11-04 07:46] #1070 closed, assigned to nobody

[2022-11-04 07:49] #4188 closed, assigned to leilenah

[2022-11-05 00:58] percyliang commented on #1078
I don't think we've done this yet.

[2022-11-05 01:03] percyliang commented on #1053
I think so - it provides an easy way for someone to build off of an existing template.

[2022-11-05 01:05] percyliang commented on #1121
In principle, like the CodaLab & git connection, but not sure if this is the right hook.

[2022-11-05 01:05] #1121 closed, assigned to nobody

[2022-11-05 01:06] percyliang commented on #1235
This is colorized in the bundle view, but not in the table.

[2022-11-06 22:19] #4295 closed, assigned to wwwjn

[2022-11-06 22:21] wwwjn opened #4302 "Guard against miners: allow edu users have more default time/disk quota"
For normal users, they have 1h default time quota and 100m default disk quota.

For user with edu emails, they have 10g disk quota and 60d time quota.

[2022-11-07 17:57] #4261 closed, assigned to AndrewJGaut

[2022-11-07 17:57] #4263 closed, assigned to AndrewJGaut

[2022-11-07 18:06] AndrewJGaut commented on #4217
This still takes about 35-40 seconds with the root codalab user even after the search speedup. I'll look into this further.

[2022-11-07 18:55] AndrewJGaut opened #4305 "Some runs on the Stanford instance aren't finishing"
Some runs on the Stanford instance aren't finishing. e.g. see here: https://codalab.stanford.edu/bundles/0xb92e8b3942884196b7f7eeb9a570dfda

cc @teetone

[2022-11-09 18:33] leilenah opened #4309 "Investigate Optimal Monitoring Solution for CodaLab"
### Overview

Currently we monitor CodaLab using various sources (see [On-call Template](https://docs.google.com/document/d/1ID_bRUuV1oaDQ2dsxIJ_ZFBLqJJnmN-qlOB0HTqooE4/edit)). We would ideally like to use a single service for monitoring.

### Goals
1. Audit the current on-call / monitoring process
3. Gather monitoring requirements
    * What data is important for us to look at?
3. Determine which

[2022-11-09 18:43] leilenah commented on #4200
Blocked by https://github.com/codalab/codalab-worksheets/issues/4309

Holding off on this until the above investigation is complete.

[2022-11-16 18:11] leilenah commented on #4084
TODO: Ashwin review PR

[2022-11-16 18:21] leilenah commented on #4302
PR ready, not merged

[2022-11-16 18:22] leilenah commented on #4201
will sync with ashwin

[2022-11-16 18:22] leilenah commented on #3965
PR ready, needs review

[2022-11-16 18:23] leilenah commented on #3922
still creating / updating feasible design

[2022-11-30 18:05] yifanmai commented on #4309
Wrote up an [investigation](https://docs.google.com/document/d/1JXDN6TUe-_kPOwQJrNDYWDJegfXVK1_d_aVAH0SEZSU/edit?usp=sharing). Would appreciate comment on the document (request comment / edit access) or on this issue.

[2022-11-30 18:07] wwwjn commented on #3922
New design doc: https://docs.google.com/document/d/1wwMX93k2a7jMpHwR2IrG6jsSbiV0mi0kZ0kzblOmc6I/edit#

[2022-11-30 20:58] #3975 closed, assigned to epicfaace